<div class="row bg-white">
    <div class="col">
        <div class="row align-items-center">
            <div class="col-3">
                <img class="avatar avatar-48 img-circle img-thumbnail" src="assets/images/profile-icon.jpg"
                    style="border:0px" />
            </div>
            <div class="col-6 ml-n3">
                <h5>Hi {{name}}!</h5>
            </div>
        </div>
        <div class="mw-80" style="height:1px; background-color: grey; border-radius: 50%"></div>
        <div class="row justify-content-center">
            <div class="col-6 ">
                <div class="row">
                        login Time
                </div>
                <div>
                    {{loggedInTime | date : 'hh:mm '}}
                </div>

            </div>
            <div class="h-75 d-inline-block" style="width: 1px; background-color: grey "></div>
            <div class="col-5">
                <div class="row">
                    {{currentDate | date: 'dd MMM, yyyy'}}
                </div>
                <div class="row">
                    Hyderabad
                </div>
            </div>
        </div>
    </div>
</div>