<nav class="navbar navbar-expand-lg" style="background: black; height: 60px;">
    <a class="navbar-brand" (click)="routeTo('dashboard')" style="color: white">
        <img src="assets/images/dbs_logo.png">| Genie &nbsp; &nbsp;
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <button mat-raised-button class="nav-link-item nav-link" *ngFor="let item of navLinkItems"
                (click)="routeTo(item)">{{item}}</button>
        </div>
    </div>
    <mat-icon [matBadge]="assingmentBadge" matBadgeColor="accent" [matBadgeHidden]="!assingmentBadge"
        class="mr-sm-2 nav-icon">assignment</mat-icon>
    <mat-icon class="mr-sm-2 nav-icon">account_circle</mat-icon>
   <button mat-raised-button class="mr-sm-2 nav-icon logout" (click)="logout()">Logout</button>
</nav>
<div style="background: red; height: 3px;"></div>