.nav-link-item {
    background-color: black;
    color: white;
    padding: 1px 15px 1px 1px;
}

.nav-icon {
    color: white;
    padding: 0 5px 0 5px;
}

.logout {
    background-color: black;
    color: whitesmoke;
}