<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/images/dbs_logo.png" width="60" height="30">|Genie
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarLinks">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbarLinks">
        <div class="navbar-start">
            <!-- Direct Links -->
            <a class="navbar-item" *ngFor="let link of navBarLinks" [routerLink]="link.link">
                {{link.label}}
            </a>
            <!-- Drop DownLinks -->
            <div class="navbar-item has-dropdown is-hoverable" *ngFor="let dropItem of navBarDropDowns">
                <a class="navbar-link">
                    {{dropItem.label}}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" *ngFor="let dropLink of dropItem.menu" [routerLink]="dropLink.link">
                        {{dropLink.label}}
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <span class="icon">
                    <a class="fas fa-lg fa-tasks"></a>
                </span>
            </div>
            <div class="navbar-item">
                <span class="icon">
                    <a class="fas fa-lg fa-user-circle"></a>
                </span>
            </div>
            <div class="navbar-item">
                <span class="icon">
                    <a class="fas fa-lg fa-sign-out-alt"></a>
                </span>
            </div>
        </div>
    </div>
</nav>
<div style="background: red; height: 3px;"></div>
<div class="container is-fluid" style="height:100%; background-color: white;">
    <div class="tile is-parent">
        <div class="tile is-child is-12 has-shadow">
            <p class="subtitle has-text-info">
                {{getUrl() | titlecase}}
            </p>
        </div>
    </div>
    <div style="background: red; height: 1px;"></div>
    <router-outlet></router-outlet>
</div>
<!-- <nav class="navbar" style="background: black; height: 60px;" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['dashboard']" style="color: white">
            <img src="assets/images/dbs_logo.png">| Genie &nbsp; &nbsp;
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>


    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item item-color">
              Home
            </a>
        </div>
    </div>
    <mat-icon [matBadge]="assingmentBadge" matBadgeColor="accent" [matBadgeHidden]="!assingmentBadge"
        class="mr-sm-2 nav-icon">assignment</mat-icon>
    <mat-icon class="mr-sm-2 nav-icon">account_circle</mat-icon>
    <button mat-raised-button class="mr-sm-2 nav-icon logout" (click)="logout()">Logout</button>
</nav>
<div style="background: red; height: 3px;"></div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div> -->