<!-- New project button bar / Import & Export -->

<div class="action-bar clearfix do-not-print">

  <style scoped>
    @import "../../../../assets/css/project_management.css";

  </style>

  <div class="wrapper">
    <div class="fl-left js-actions-bar">
      <a class="hui-button hui-button-primary hui-button-icon-left" href="/projects/new">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
          <path d="M7 5h5v2H7v5H5V7H0V5h5V0h2v5z"></path>
        </svg>
        New Project
      </a>
      <button type="button" class="hui-button js-import-button">Import</button>

      <button type="button" class="hui-button button-projects-export js-export-button">Export</button>
    </div>

    <!-- <div class="fl-right clearfix js-project-search-wrapper">
<div class="input-with-suggestions js-search-box suggestions-are-hidden" role="search">
<input autocomplete="off" class="hui-input js-project-search js-search-input" id="project-search" placeholder="Search by client or project name" name="search_terms" type="text" value="" aria-label="Search by client or project name" required="">
<div class="input-suggestions project-search-results js-results"></div>
</div>
</div> -->


  </div>
</div>

<!-- end for New Project button  -->


<div id="body">
  <style scoped>
    @import "../../../../assets/css/project_management_new.css";

  </style>
  <style scoped>
    @import "../../../../assets/css/project_management_table.css";

  </style>
  <div class="cols">

    <!-- Filter options box start -->
    <div id="supportCell" class="col col-sidebar col-drape">
      <div id="supportFilter" class="roundTop roundBottom">
        <div class="is-hidden-desktop sidebar-closer">
          <a class="js-sidebar-toggle icon-closer">×</a>
        </div>
        <form method="get" action="javascript:projects_list_table.update();"
          onsubmit="clearBox(document.getElementById('f_search'));" id="table_filter" style="position: relative;">
          <div class="draper is-hidden-mobile" title="Click the arrow to show or hide filter options.">
            <div><i></i></div>
          </div>
          <ul>
            <li><strong>Filter options</strong></li>

            <li class="flex">
              <div id="list_clients_options" class="multi-container" style="display: none;">
                <div class="mt-body">
                  <div id="list_clients-options" class="mt-options">
                    <div class="flex mt-row">
                      <div class="flex-grow"><label for="chk_list_clients1" class="js-multi-ignore">No client</label>
                      </div>
                      <div class="flex-nogrow"><input id="chk_list_clients1" type="checkbox"
                          class="check js-multi-ignore" value="-1"></div>
                    </div>
                  </div>
                </div>
                <div class="mt-foot">
                  <div class="flex mt-row">
                    <div class="flex-grow">Select: <a id="list_clients_all" class="hand js-multi-ignore">All</a>,<a
                        id="list_clients_none" class="hand js-multi-ignore">None</a></div><input type="button"
                      id="list_clients_options_button_ok" value="Ok" class="submit save js-multi-ignore"> <a
                      class="hand cancel ml10" id="list_clients_cancel">Cancel</a>
                  </div>
                </div>
              </div><select id="list_clients" name="f_clientID" rel="0" class="multi-select js-throttleable" onchange="handleChange(function(element) {
                    populatePeoplesDropdown(null, {active: 't', clientID: element.value, projectManagersOnly: 1});
                    projects_list_table.set({f_clientID: element.value});
                }, this)">
                <option value="0">All clients</option>
                <option value="-1">No client</option>
              </select>&nbsp;<a id="clients-multiple" title="Select Multiple" class="sprites iconsMulti"></a>
            </li>
            <li class="flex">
              <div id="list_managers_options" class="multi-container" style="display: none;">
                <div class="mt-body">
                  <div id="list_managers-options" class="mt-options">
                    <div class="flex mt-row">
                      <div class="flex-grow"><label for="chk_list_managers1" class="js-multi-ignore">No manager</label>
                      </div>
                      <div class="flex-nogrow"><input id="chk_list_managers1" type="checkbox"
                          class="check js-multi-ignore" value="-1"></div>
                    </div>
                    <div class="flex mt-row">
                      <div class="flex-grow"><label for="chk_list_managers2" class="js-multi-ignore">Sai Teja</label>
                      </div>
                      <div class="flex-nogrow"><input id="chk_list_managers2" type="checkbox"
                          class="check js-multi-ignore" value="337713"></div>
                    </div>
                  </div>
                </div>
                <div class="mt-foot">
                  <div class="flex mt-row">
                    <div class="flex-grow">Select: <a id="list_managers_all" class="hand js-multi-ignore">All</a>,<a
                        id="list_managers_none" class="hand js-multi-ignore">None</a></div><input type="button"
                      id="list_managers_options_button_ok" value="Ok" class="submit save js-multi-ignore"> <a
                      class="hand cancel ml10" id="list_managers_cancel">Cancel</a>
                  </div>
                </div>
              </div><select id="list_managers" name="f_managerID" rel="0"
                onchange="projects_list_table.set({f_managerID: this.value});" class="multi-select">


                <option value="0">All managers</option>
                <option value="-1">No manager</option>
                <option value="337713" title="Sai Teja">Sai Teja</option>
              </select>&nbsp;<a id="managers-multiple" title="Select Multiple" class="sprites iconsMulti"></a>
            </li>

            <li>
              <select name="f_billable" onchange="projects_list_table.set({'f_billable': this.value});">
                <option value="" selected="selected">Billable &amp; Unbillable</option>
                <option value="t">Billable only</option>
                <option value="f">Unbillable only</option>
              </select>
            </li>

            <li>
              <input id="f_search" type="text" name="f_search"
                onfocus="projects_list_table.set({'f_search': this.value});"
                onchange="projects_list_table.set({'f_search': this.value});" placeholder="Search projects"
                class="input input-search">

              <a href="javascript:;" class="tooltip sprites iconsTooltip" rel="ttSearch"></a>

              <div style="clear:both;height:1px;">&nbsp;</div>
            </li>
            <li class="filter-options-submit controls flex">
              <input type="submit" name="f_submit" value="Filter" class="submit filter-submit js-sidebar-off">
              <a class="is-hidden-desktop filter-cancel-bottom flex-grow js-sidebar-off">Cancel</a>
            </li>
          </ul>
          <li id="filter_trigger" class="filter-sidebar" style="display:none">
            <a href="javascript:;" class="iconified" onclick="toggleFilter(this);">
              <i class="fa fa-fw fa-chevron-right"></i>
              <span>Saved project filters</span>
            </a>
            <ul id="filter-list" class="filter-list" style="display:none">
            </ul>
          </li>
        </form>
      </div>

      <script>
        var multis = {};
        Event.observe(window, "load", function () {

          multis['list_clients'] = new Control.SelectMultiple('list_clients', {
            trigger: 'clients-multiple',
            afterChange: function () {
              $('list_clients').onchange();
            }
          });
          multis['list_clients'].setValue('0');

          populatePeoplesDropdown(null, {
            active: 't',
            clientID: $F('list_clients'),
            projectManagersOnly: 1,
            afterFinishManagers: function () {
              multis['list_managers'] = new Control.SelectMultiple('list_managers', {
                trigger: 'managers-multiple',
                afterChange: function () {
                  $('list_managers').onchange();
                }
              });
              multis['list_managers'].setValue('0');
              projects_list_table.set({
                f_managerID: $F('list_managers')
              });
            }
          });

          // add this through the DOM so that it's easier to escape quotes

        });

      </script>
    </div>
    <!-- Filter options tab close -->

    <!-- Projects table start -->
    <div id="mainCell" class="col col-main">
      <span id="drapeAnchor"></span>
      <div id="exportThis">

        <header class="header-card">
          <div class="grid-head">
            <div class="grid-titles">
              
              <div class="list-modifier is-hidden-desktop simple-sidebar-toggle">
                <a class="js-sidebar-toggle">
                  <i class="sprites icon-chubby"></i>
                </a>
              </div>
              <h1><span id="project_list_projectcount">2 Projects</span></h1>
              <h4 style="display: none;"><span id="project_list_outputfilter"></span></h4>
            </div>
          </div>
        </header>

        <div id="mainContainer">



          <div id="projects_list" class="table-responsive">
            <table id="projectList" cellpadding="0" cellspacing="0" border="0" class="newTable shy-table inline-edit">
              <colgroup span="16">
                <col width="5%">
                <col>
                <col>
                <col width="3%">
                <col width="3%">
                <col width="4%">
                <col width="60">
                <col width="85">
                <col width="80">
                <col width="60">
                <col width="95">
                <col width="80">
                <col width="120">
                <col>
                <col>
                <col width="25">
              </colgroup>
              <thead>
                <tr>
                  <th class="sortASC sorted-cell" rowspan="2"><a
                      onclick="projects_list_table.update({'f_sortField': 'localid', 'f_sortDir': 'DESC'});">#</a></th>
                  <th rowspan="2"><a
                      onclick="projects_list_table.update({'f_sortField': 'name', 'f_sortDir': 'DESC'});">Name</a></th>
                  <th rowspan="2"><a
                      onclick="projects_list_table.update({'f_sortField': 'client', 'f_sortDir': 'DESC'});">Client</a>
                  </th>
                  <th rowspan="2">&nbsp;</th>
                  <th rowspan="2">&nbsp;</th>
                  <th rowspan="2">&nbsp;</th>
                  <th colspan="3">Tasks</th>
                  <th colspan="3">Milestones</th>
                  <th rowspan="2"><a
                      onclick="projects_list_table.update({'f_sortField': 'progress', 'f_sortDir': 'DESC'});">Progress</a>
                  </th>
                  <th rowspan="2"><a
                      onclick="projects_list_table.update({'f_sortField': 'datestart', 'f_sortDir': 'DESC'});">Start</a>
                  </th>
                  <th rowspan="2"><a
                      onclick="projects_list_table.update({'f_sortField': 'dateend', 'f_sortDir': 'DESC'});">End</a>
                  </th>
                  <th rowspan="2" class="noprint alignRight alignMiddle"><input id="f_select_all" value="1"
                      onclick="checkSelectAll(this.checked, '.modify_checkbox')" type="checkbox" class="noprint"></th>
                </tr>
                <tr>
                  <th><a
                      onclick="projects_list_table.update({'f_sortField': 'taskstotal', 'f_sortDir': 'DESC'});">Total</a>
                  </th>
                  <th><a
                      onclick="projects_list_table.update({'f_sortField': 'tasksunstarted', 'f_sortDir': 'DESC'});">Unstarted</a>
                  </th>
                  <th><a
                      onclick="projects_list_table.update({'f_sortField': 'tasksoverdue', 'f_sortDir': 'DESC'});">Overdue</a>
                  </th>
                  <th><a
                      onclick="projects_list_table.update({'f_sortField': 'milestonestotal', 'f_sortDir': 'DESC'});">Total</a>
                  </th>
                  <th><a
                      onclick="projects_list_table.update({'f_sortField': 'milestonesinprogress', 'f_sortDir': 'DESC'});">In
                      Progress</a></th>
                  <th><a
                      onclick="projects_list_table.update({'f_sortField': 'milestonesoverdue', 'f_sortDir': 'DESC'});">Overdue</a>
                  </th>
                </tr>
              </thead>
              <tbody class="projectListBody">
                <tr secure="" projectid="1106463" localid="00001" localidunpadded="1"
                  onmouseover="highlightRow(this,true,0);rcm(this,event);" onmouseout="highlightRow(this,false,0);"
                  class="striped projectrow" title="">
                  <td onclick="redirectURL('/projects/view/1/');" class="clickable sorted-cell" data-label="#"><a
                      href="/projects/view/1/">00001</a></td>
                  <td onclick="redirectURL('/projects/view/1/');" class="clickable" data-label="Name"><a
                      id="prj_1106463" href="/projects/view/1/" rel="/projects/viewsimple/1/"
                      onmouseover="ttx(this,event);">Genie</a></td>
                  <td onclick="redirectURL('/projects/view/1/');" class="clickable" data-label="Client"><em>None</em>
                  </td>
                  <td onclick="redirectURL('/projects/notes/1/');" class="clickable cellIcon "
                    data-label="Project notes"><a href="/projects/notes/1/" title="Project notes" class="iconOver"><span
                        class="sprites spritesHover icon17 iconNote" name="icon_notes_0"></span></a></td>
                  <td onclick="redirectURL('/projects/documents/1/');" class="clickable cellIcon "
                    data-label="Documents"><a href="/projects/documents/1/" title="Project documents"
                      class="iconOver"><span class="sprites spritesHover icon17 iconUpload"
                        name="icon_upload_0"></span></a></td>
                  <td onclick="redirectURL('/projects/dashboard/1/');" class="clickable cellIcon "
                    data-label="Dashboard"><a href="/projects/dashboard/1/" title="Project dashboard"
                      class="iconOver"><span class="sprites spritesHover icon17 iconDashboard"
                        name="icon_dashboard_0"></span></a></td>
                  <td onclick="redirectURL('/tasks/index/0/1/0/0/0/0/+/+/0/0/0/1/');" class="clickable alignRight"
                    data-label="Tasks"><a href="/tasks/index/0/1/0/0/0/0/+/+/0/0/0/1/"
                      title="View all tasks for this project">1</a></td>
                  <td onclick="redirectURL('/tasks/review/unstarted/0/0/0/+/+/+/0/0/1/');" class="clickable alignRight"
                    data-label="Unstarted"><a href="/tasks/review/unstarted/0/0/0/+/+/+/0/0/1/"
                      title="View unstarted tasks for this project">0</a></td>
                  <td onclick="redirectURL('/tasks/review/overdue/0/0/0/+/+/+/0/0/1/');" class="clickable alignRight"
                    data-label="Unstarted"><a href="/tasks/review/overdue/0/0/0/+/+/+/0/0/1"
                      title="View overdue tasks for this project">0</a></td>
                  <td class="alignRight" data-label="Milestones"><a href="/milestones/index/0/1/+/0/+/+/+/+/+/1/">0</a>
                  </td>
                  <td class="alignRight" data-label="In progress"><a href="/milestones/index/0/1/allinprogress/">0</a>
                  </td>
                  <td class="alignRight" data-label="Overdue"><a href="/milestones/index/0/1/overdue/">0</a></td>
                  <td onclick="redirectURL('/projects/view/1/');" class="clickable" nowrap="nowrap"
                    data-label="Progress"><a href="/projects/budget/1/" class="color-subdued outgoing"><em>Estimate
                        hours</em></a></td>
                  <td onclick="redirectURL('/projects/view/1/');" class="clickable" data-label="Start">11/15/2019</td>
                  <td onclick="redirectURL('/projects/view/1/');" class="clickable" data-label="End">12/31/2019</td>
                  <td class="cellSave noprint "><a href="/projects/edit/1/" title="Edit" class="iconOver"><span
                        class="sprites spritesHover icon17 iconEdit" name="icon_edit_0"></span></a><input
                      type="checkbox" name="f_checkbox[]" value="1" class="modify_checkbox noprint"></td>
                </tr>
                <tr secure="" projectid="1106464" localid="00002" localidunpadded="2"
                  onmouseover="highlightRow(this,true,0);rcm(this,event);" onmouseout="highlightRow(this,false,0);"
                  class="striped projectrow" title="">
                  <td onclick="redirectURL('/projects/view/2/');" class="clickable sorted-cell" data-label="#"><a
                      href="/projects/view/2/">00002</a></td>
                  <td onclick="redirectURL('/projects/view/2/');" class="clickable" data-label="Name"><a
                      id="prj_1106464" href="/projects/view/2/" rel="/projects/viewsimple/2/"
                      onmouseover="ttx(this,event);">DBSI Bonds</a></td>
                  <td onclick="redirectURL('/projects/view/2/');" class="clickable" data-label="Client"><em>None</em>
                  </td>
                  <td onclick="redirectURL('/projects/notes/2/');" class="clickable cellIcon "
                    data-label="Project notes"><a href="/projects/notes/2/" title="Project notes" class="iconOver"><span
                        class="sprites spritesHover icon17 iconNote" name="icon_notes_1"></span></a></td>
                  <td onclick="redirectURL('/projects/documents/2/');" class="clickable cellIcon "
                    data-label="Documents"><a href="/projects/documents/2/" title="Project documents"
                      class="iconOver"><span class="sprites spritesHover icon17 iconUpload"
                        name="icon_upload_1"></span></a></td>
                  <td onclick="redirectURL('/projects/dashboard/2/');" class="clickable cellIcon "
                    data-label="Dashboard"><a href="/projects/dashboard/2/" title="Project dashboard"
                      class="iconOver"><span class="sprites spritesHover icon17 iconDashboard"
                        name="icon_dashboard_1"></span></a></td>
                  <td onclick="redirectURL('/tasks/index/0/2/0/0/0/0/+/+/0/0/0/1/');" class="clickable alignRight"
                    data-label="Tasks"><a href="/tasks/index/0/2/0/0/0/0/+/+/0/0/0/1/"
                      title="View all tasks for this project">0</a></td>
                  <td onclick="redirectURL('/tasks/review/unstarted/0/0/0/+/+/+/0/0/2/');" class="clickable alignRight"
                    data-label="Unstarted"><a href="/tasks/review/unstarted/0/0/0/+/+/+/0/0/2/"
                      title="View unstarted tasks for this project">0</a></td>
                  <td onclick="redirectURL('/tasks/review/overdue/0/0/0/+/+/+/0/0/2/');" class="clickable alignRight"
                    data-label="Unstarted"><a href="/tasks/review/overdue/0/0/0/+/+/+/0/0/2"
                      title="View overdue tasks for this project">0</a></td>
                  <td class="alignRight" data-label="Milestones"><a href="/milestones/index/0/2/+/0/+/+/+/+/+/1/">0</a>
                  </td>
                  <td class="alignRight" data-label="In progress"><a href="/milestones/index/0/2/allinprogress/">0</a>
                  </td>
                  <td class="alignRight" data-label="Overdue"><a href="/milestones/index/0/2/overdue/">0</a></td>
                  <td onclick="redirectURL('/projects/actual/2/');" class="clickable" nowrap="nowrap"
                    data-label="Progress">
                    <div class="dipstik">
                      <div class="dipstik-label" style="padding-left: calc(0% + 0.5rem)">0%</div>
                      <div class="dipstik-gauge"></div>
                    </div>
                  </td>
                  <td onclick="redirectURL('/projects/view/2/');" class="clickable" data-label="Start">11/01/2019</td>
                  <td onclick="redirectURL('/projects/view/2/');" class="clickable" data-label="End">01/31/2020</td>
                  <td class="cellSave noprint "><a href="/projects/edit/2/" title="Edit" class="iconOver"><span
                        class="sprites spritesHover icon17 iconEdit" name="icon_edit_1"></span></a><input
                      type="checkbox" name="f_checkbox[]" value="2" class="modify_checkbox noprint"></td>
                </tr>
              </tbody>
             
            </table>
          </div>
          <div id="project_list_pagination" class="control pagination"></div>
          <div class="filter-save noprint">

            <!-- <span id="filter_save_title" style="display: none;">
        <form method="post" action="/index.php" onsubmit="clearBox(document.getElementById('id_title')); tFilter.save(this); return false;" name="filterName" class="inline">
            <input type="hidden" id="id_params" name="f_params" value="&amp;f_inactive=1&amp;f_sortField=localid&amp;f_sortDir=ASC&amp;f_wide=1">
            <input type="text" id="id_title" name="f_title" value="Title" onfocus="clearBox(this);">
            <input type="submit" id="id_submit" name="f_submit" value="Save" class="submit save">
        </form>
    </span> -->
            <span id="filter_output"></span>

            <div id="filter_title" style="display: none;">
              Viewing <strong>“<span id="filter_title_display"></span>”</strong> project filter. |
              <a onclick="return tFilter.confirmRemove(null, 'project');" class="deleteFilter"><em>Delete this project
                  filter?</em></a></div>
            <script>
              //create filter object
              Event.observe(window, "load", function () {
                tFilter = new Filter(14, 'project', projects_list_table);
              });

            </script>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Stock broker table -->
<div class="col-md-12" id="open_orders">
  <div class="panel panel-default">
    <div class="panel-heading">Open Orders
      <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right"
        data-original-title="Collapse Panel">
        <em class="fa fa-minus"></em>
      </a>
    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true" style="">
      <div class="table-responsive">
        <table id="open_orders_table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-plus"></i></th>
              <th>Order Date</th>
              <th>Type</th>
              <th>Bid/Ask</th>
              <th>Units Filled SC</th>
              <th>Units Total SC</th>
              <th>Actual Rate</th>
              <th>Estimated Total BTC</th>
              <th>Options</th>
              <th name="buttons"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="fa fa-minus"></i></td>
              <td>
                02/18/2018 05:36:12 PM
              </td>
              <td>Limit Sell</td>
              <td id="change">300</td>
              <td>0.00000000</td>
              <td>26089.00161498</td>
              <td>
                0.00000000
              </td>
              <td>0.07937253</td>
              <!-- <td>

                  </td> -->
              <td name="buttons">
                <div class="btn-group pull-right"><button id="bEdit" type="button" class="btn btn-sm btn-default"
                    onclick="rowEdit(this);"><span class="fa fa-pencil" style="font-size:15px"> </span></button><button
                    id="bElim" type="button" class="btn btn-sm btn-default" onclick="rowElim(this);"><span
                      class="fa fa-trash" style="font-size:15px"> </span></button><button id="bAcep" type="button"
                    class="btn btn-sm btn-default" style="display:none;" onclick="rowAcep(this);"><span
                      class="fa fa-check" style="font-size:15px"> </span></button><button id="bCanc" type="button"
                    class="btn btn-sm btn-default" style="display:none;" onclick="rowCancel(this);"><span
                      class="fa fa-remove" style="font-size:15px"> </span></button></div>
              </td>
            </tr>
            <tr>
              <td><i class="fa fa-minus"></i></td>
              <td>
                02/18/2018 05:30:12 PM
              </td>
              <td>Limit Buy</td>
              <td id="change">500</td>
              <td>0.00000000</td>
              <td>27000.00161498</td>
              <td>
                0.00000000
              </td>
              <td>0.07937253</td>
              <!-- <td>

                  </td> -->
              <td name="buttons">
                <div class="btn-group pull-right"><button id="bEdit" type="button" class="btn btn-sm btn-default"
                    onclick="rowEdit(this);"><span class="fa fa-pencil" style="font-size:15px"> </span></button><button
                    id="bElim" type="button" class="btn btn-sm btn-default" onclick="rowElim(this);"><span
                      class="fa fa-trash" style="font-size:15px"> </span></button><button id="bAcep" type="button"
                    class="btn btn-sm btn-default" style="display:none;" onclick="rowAcep(this);"><span
                      class="fa fa-check" style="font-size:15px"> </span></button><button id="bCanc" type="button"
                    class="btn btn-sm btn-default" style="display:none;" onclick="rowCancel(this);"><span
                      class="fa fa-remove" style="font-size:15px"> </span></button></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- stock broker table end -->

<!-- New project creation start -->

<div id="mainCell" class="column column-center">
        <header class="header-card">
            <div class="list-modifier is-hidden-desktop simple-sidebar-toggle">
                <a class="js-sidebar-toggle">
                    <i class="sprites icon-chubby"></i>
                </a>
            </div>
            <div class="header-row">
                <div class="header-row-item mb0">
                    <h1>
                                                        Create a new project                                                    </h1>
                </div>
            </div>
        </header>

        <div id="mainContainer">
                                        



<form id="editProjectDetails" method="post" action="/index.php" name="editProject" class="shy-container">
<input type="hidden" name="module" value="projects">
<input type="hidden" name="action" value="submit">
<input type="hidden" name="f_ID" value="">
<input type="hidden" name="f_localID" value="">
<input type="hidden" name="f_localIDUnpadded" value="">

<div class="item-details-container is-verticalizable">
    <div class="item-chunk mHeaderCell item-details-header">
        Details
    </div>
    <div class="item-chunk flex item-details">
        <div class="fields fields-fifty">
                            <div class="item-attr">
                <div class="attr-label ">
                    Client: <a class="tooltip" rel="ttClient"><span class="sprites iconsTooltip"></span></a>
                    
                </div>
                <div class="attr-value">
                    <div class="mb5">
                        <select name="f_clientID" onchange="toggleNewClient(this);" class="item-input">
                            <option value="0">No client</option>
                                                            <option value="-1">Add a new client</option>
                        </select>
                    </div>
                    <div class="mt5 mb5">
                        <input id="f_client_new" type="text" name="f_client_new" value="" style="display: none;" placeholder="Client name">
                    </div>
                </div>
            </div>
            <div class="item-attr">
                <div class="attr-label thvRequired ">Name:</div>
                <div class="attr-value"><input type="text" id="f_name" name="f_name" value="" class="item-input"></div>
            </div>
            <div class="item-attr">
                <div class="attr-label ">
                    Project Manager: <a class="tooltip" rel="ttManager"><span class="sprites iconsTooltip"></span></a>
                    <div id="ttManager" class="tooltipText" style="display: none;">
                        <p>If you want to run reports based on who manages which projects, then selecting a project manager is a must.</p>
                        <p>Also, the project manager will receive email alerts when the project profile changes, and when project notes, project documents, invoices, payments, and expenses are created for this project.</p>
                        <p>Only administrator and manager level users can be set as project managers.</p>
                    </div>
                    </div>
                <div class="attr-value flex">
                    <div id="list_managers_options" class="multi-container" style="display: none;"><div class="mt-body"><div id="list_managers-options" class="mt-options"><div class="flex mt-row"><div class="flex-grow"><label for="chk_list_managers1" class="js-multi-ignore">Sai Teja</label></div><div class="flex-nogrow"><input id="chk_list_managers1" type="checkbox" class="check js-multi-ignore" value="337713"></div></div></div></div><div class="mt-foot"><div class="flex mt-row"><div class="flex-grow">Select: <a id="list_managers_all" class="hand js-multi-ignore">All</a>,<a id="list_managers_none" class="hand js-multi-ignore">None</a></div><input type="button" id="list_managers_options_button_ok" value="Ok" class="submit save js-multi-ignore"> <a class="hand cancel ml10" id="list_managers_cancel">Cancel</a> </div></div></div><select id="list_managers" name="f_managerID" rel="" class="item-input-multi">
                        <option value="0">No project manager</option>
                                                    <option value="337713">Sai Teja</option>
                                                </select>&nbsp;<a id="managers-multiple" title="Select Multiple" class="sprites iconsMulti"></a>
                </div>
            </div>
            <div class="item-attr">
                <div class="attr-label">Status:</div>
                <div class="attr-value">
                    <div class="control">
                        <input type="radio" id="status_active" name="f_active" value="t" checked="checked">&nbsp;<label for="status_active">Active</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="status_inactive" name="f_active" value="f">&nbsp;<label for="status_inactive">Inactive</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="fields fields-fifty">
            <div class="item-attr">
                <div class="attr-label thvRequired ">
                    Billable: <a class="tooltip" rel="ttBillable"><span class="sprites iconsTooltip"></span></a>

                    <div id="ttBillable" class="tooltipText" style="display: none;">
                        This setting affects the preselected value in the billable checkbox when adding time to this project. As it is only a preset, you can override it when adding time.
                    </div>
                </div>
                <div class="attr-value nowrap">
                    <div class="control">
                        <input type="radio" id="f_billable" name="f_billable" value="t" checked=""> Yes
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="f_billable" name="f_billable" value="f"> No
                    </div>
                </div>
            </div>
            <div class="item-attr">
                <div class="attr-label thvRequired ">Start:</div>
                <div class="attr-value nowrap">
                    <input type="text" id="f_dateStart" name="f_dateStart" value="12/05/2019" class="input input-date" autocomplete="off" list="autocompleteOff">
                </div>
            </div>
            <div class="item-attr">
                <div class="attr-label ">End:</div>
                <div class="attr-value is-clearable-content">
                    <div id="project_date_end_date" style="display:none">
                    <input type="text" id="f_dateEnd" name="f_dateEnd" value="12/12/2019" class="input input-date" autocomplete="off" list="autocompleteOff">

                    <a class="item-pick" onclick="toggleEndDate();" title="Don't set an end date for this project"><span class="icon-clear">×</span></a>
                    </div>

                    <div id="project_date_end_none" style="">
                    <em>None</em> <a class="item-pick" onclick="toggleEndDate();" title="Select a date to use as the end date for this project">Set end date</a>
                    </div>
                </div>
            </div>
            <div class="item-attr vertical-fifty">
                <div class="attr-label ">Budget:</div>
                <div class="attr-value nowrap"><input type="text" name="f_budget" value="&nbsp;" onkeyup="updateBudget();" class="item-input">
                </div>
            </div>
            <div class="item-attr vertical-fifty">
                <div class="attr-label">Actual:</div>
                <div class="attr-value">$0.00</div>
            </div>
            <div class="item-attr">
                <div class="attr-label ">
                    Alert When: <a class="tooltip" rel="ttAlert"><span class="sprites iconsTooltip"></span></a>
                    <div id="ttAlert" class="tooltipText" style="display: none;">
                    Setting this value will send an alert to the project manager when a certain percentage of the budget is reached.<br><br>If you set this field to "0" or leave it blank, no alert will be sent.<br><br>If an alert has already been sent out, changing this value will reset the alert so that it may be sent out again in the future.</div>
                </div>
                <div class="attr-value">
                    <input type="text" size="4" maxlength="3" name="f_alert_percent" value="0" onkeyup="updateBudget();"> % of budget (<span id="budget_alert_amount">$0.00</span>) is reached.
                </div>
            </div>
                        </div>
    </div>

    <div id="task-view-summary-title" class="item-details item-chunk p0 m0" style="display: ;">
        <div class="item-chunk mHeaderCell">Description:</div>
    </div>

    <div id="project-desc-cell" class="item-chunk item-details  position-relative" data-dropzone="1"><div class="plupload_area_indicator" style="display: none;">Drop files to upload</div>
        <div><div id="rte_f_description"><a id="rtet_f_description" onclick="toggleRTE(this,'f_description');" class="hand rte-toggle" tabindex="-1"><span class="sprites delete"></span> Disable advanced editor </a><input type="hidden" id="f_description_bypass_entify" name="f_description_bypass_entify" value="1"><textarea name="f_description" id="f_description" cols="40" rows="4" class="vert resizable" style="width: 100%; height: 120px; position: relative; overflow: auto; visibility: hidden; display: none;" tabindex=""></textarea><div id="cke_f_description" class="cke_1 cke cke_reset cke_chrome cke_editor_f_description cke_ltr cke_browser_webkit" dir="ltr" lang="en" role="application" aria-labelledby="cke_f_description_arialbl"><span id="cke_f_description_arialbl" class="cke_voice_label">Rich Text Editor, f_description</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; user-select: none; background-color: rgb(255, 255, 255);"><span id="cke_11" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_11" onmousedown="return false;"><span id="cke_12" class="cke_toolbar cke_toolbar_last" role="toolbar"><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_13" class="cke_button cke_button__source cke_button_off" href="javascript:void('Source')" title="Source" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_13_label" aria-describedby="cke_13_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(1,event);" onfocus="return CKEDITOR.tools.callFunction(2,event);" onclick="CKEDITOR.tools.callFunction(3,this);return false;"><span class="cke_button_icon cke_button__source_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -2232px;background-size:auto;">&nbsp;</span><span id="cke_13_label" class="cke_button_label cke_button__source_label" aria-hidden="false">Source</span><span id="cke_13_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_14" class="cke_button cke_button__bold cke_button_off" href="javascript:void('Bold')" title="Bold (Ctrl+B)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_14_label" aria-describedby="cke_14_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(4,event);" onfocus="return CKEDITOR.tools.callFunction(5,event);" onclick="CKEDITOR.tools.callFunction(6,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -24px;background-size:auto;">&nbsp;</span><span id="cke_14_label" class="cke_button_label cke_button__bold_label" aria-hidden="false">Bold</span><span id="cke_14_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+B</span></a><a id="cke_15" class="cke_button cke_button__italic cke_button_off" href="javascript:void('Italic')" title="Italic (Ctrl+I)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_15_label" aria-describedby="cke_15_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(7,event);" onfocus="return CKEDITOR.tools.callFunction(8,event);" onclick="CKEDITOR.tools.callFunction(9,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -48px;background-size:auto;">&nbsp;</span><span id="cke_15_label" class="cke_button_label cke_button__italic_label" aria-hidden="false">Italic</span><span id="cke_15_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+I</span></a><a id="cke_16" class="cke_button cke_button__underline cke_button_off" href="javascript:void('Underline')" title="Underline (Ctrl+U)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_16_label" aria-describedby="cke_16_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(10,event);" onfocus="return CKEDITOR.tools.callFunction(11,event);" onclick="CKEDITOR.tools.callFunction(12,this);return false;"><span class="cke_button_icon cke_button__underline_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -144px;background-size:auto;">&nbsp;</span><span id="cke_16_label" class="cke_button_label cke_button__underline_label" aria-hidden="false">Underline</span><span id="cke_16_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+U</span></a><a id="cke_17" class="cke_button cke_button__strike cke_button_off" href="javascript:void('Strikethrough')" title="Strikethrough" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_17_label" aria-describedby="cke_17_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(13,event);" onfocus="return CKEDITOR.tools.callFunction(14,event);" onclick="CKEDITOR.tools.callFunction(15,this);return false;"><span class="cke_button_icon cke_button__strike_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -72px;background-size:auto;">&nbsp;</span><span id="cke_17_label" class="cke_button_label cke_button__strike_label" aria-hidden="false">Strikethrough</span><span id="cke_17_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_18" class="cke_button cke_button__textcolor cke_button_off" href="javascript:void('Text Color')" title="Text Color" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-describedby="cke_18_description" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(16,event);" onfocus="return CKEDITOR.tools.callFunction(17,event);" onclick="CKEDITOR.tools.callFunction(18,this);return false;"><span class="cke_button_icon cke_button__textcolor_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -456px;background-size:auto;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__textcolor_label" aria-hidden="false">Text Color</span><span id="cke_18_description" class="cke_button_label" aria-hidden="false"></span><span class="cke_button_arrow"></span></a><a id="cke_19" class="cke_button cke_button__bgcolor cke_button_off" href="javascript:void('Background Color')" title="Background Color" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_19_label" aria-describedby="cke_19_description" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(19,event);" onfocus="return CKEDITOR.tools.callFunction(20,event);" onclick="CKEDITOR.tools.callFunction(21,this);return false;"><span class="cke_button_icon cke_button__bgcolor_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -432px;background-size:auto;">&nbsp;</span><span id="cke_19_label" class="cke_button_label cke_button__bgcolor_label" aria-hidden="false">Background Color</span><span id="cke_19_description" class="cke_button_label" aria-hidden="false"></span><span class="cke_button_arrow"></span></a><a id="cke_20" class="cke_button cke_button__numberedlist cke_button_off" href="javascript:void('Insert/Remove Numbered List')" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_20_label" aria-describedby="cke_20_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(22,event);" onfocus="return CKEDITOR.tools.callFunction(23,event);" onclick="CKEDITOR.tools.callFunction(24,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1704px;background-size:auto;">&nbsp;</span><span id="cke_20_label" class="cke_button_label cke_button__numberedlist_label" aria-hidden="false">Insert/Remove Numbered List</span><span id="cke_20_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_21" class="cke_button cke_button__bulletedlist cke_button_off" href="javascript:void('Insert/Remove Bulleted List')" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_21_label" aria-describedby="cke_21_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(25,event);" onfocus="return CKEDITOR.tools.callFunction(26,event);" onclick="CKEDITOR.tools.callFunction(27,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1656px;background-size:auto;">&nbsp;</span><span id="cke_21_label" class="cke_button_label cke_button__bulletedlist_label" aria-hidden="false">Insert/Remove Bulleted List</span><span id="cke_21_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_22" class="cke_button cke_button__checklist cke_button_off" href="javascript:void('Insert/Remove Checklist')" title="Insert/Remove Checklist" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_22_label" aria-describedby="cke_22_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(28,event);" onfocus="return CKEDITOR.tools.callFunction(29,event);" onclick="CKEDITOR.tools.callFunction(30,this);return false;"><span class="cke_button_icon cke_button__checklist_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -240px;background-size:auto;">&nbsp;</span><span id="cke_22_label" class="cke_button_label cke_button__checklist_label" aria-hidden="false">Insert/Remove Checklist</span><span id="cke_22_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_23" class="cke_button cke_button__outdent cke_button_disabled " href="javascript:void('Decrease Indent')" title="Decrease Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_23_label" aria-describedby="cke_23_description" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(31,event);" onfocus="return CKEDITOR.tools.callFunction(32,event);" onclick="CKEDITOR.tools.callFunction(33,this);return false;"><span class="cke_button_icon cke_button__outdent_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1344px;background-size:auto;">&nbsp;</span><span id="cke_23_label" class="cke_button_label cke_button__outdent_label" aria-hidden="false">Decrease Indent</span><span id="cke_23_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_24" class="cke_button cke_button__indent cke_button_off" href="javascript:void('Increase Indent')" title="Increase Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_24_label" aria-describedby="cke_24_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(34,event);" onfocus="return CKEDITOR.tools.callFunction(35,event);" onclick="CKEDITOR.tools.callFunction(36,this);return false;"><span class="cke_button_icon cke_button__indent_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1296px;background-size:auto;">&nbsp;</span><span id="cke_24_label" class="cke_button_label cke_button__indent_label" aria-hidden="false">Increase Indent</span><span id="cke_24_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_25" class="cke_button cke_button__image cke_button_off" href="javascript:void('Image')" title="Image" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_25_label" aria-describedby="cke_25_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(37,event);" onfocus="return CKEDITOR.tools.callFunction(38,event);" onclick="CKEDITOR.tools.callFunction(39,this);return false;"><span class="cke_button_icon cke_button__image_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1248px;background-size:auto;">&nbsp;</span><span id="cke_25_label" class="cke_button_label cke_button__image_label" aria-hidden="false">Image</span><span id="cke_25_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_26" class="cke_button cke_button__link cke_button_off" href="javascript:void('Link')" title="Link (Ctrl+L)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_26_label" aria-describedby="cke_26_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(40,event);" onfocus="return CKEDITOR.tools.callFunction(41,event);" onclick="CKEDITOR.tools.callFunction(42,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1584px;background-size:auto;">&nbsp;</span><span id="cke_26_label" class="cke_button_label cke_button__link_label" aria-hidden="false">Link</span><span id="cke_26_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+L</span></a><a id="cke_27" class="cke_button cke_button__unlink cke_button_disabled " href="javascript:void('Unlink')" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_27_label" aria-describedby="cke_27_description" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(43,event);" onfocus="return CKEDITOR.tools.callFunction(44,event);" onclick="CKEDITOR.tools.callFunction(45,this);return false;"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1608px;background-size:auto;">&nbsp;</span><span id="cke_27_label" class="cke_button_label cke_button__unlink_label" aria-hidden="false">Unlink</span><span id="cke_27_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_28" class="cke_button cke_button__pastetext cke_button_off" href="javascript:void('Paste as plain text')" title="Paste as plain text (Ctrl+Shift+V)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_28_label" aria-describedby="cke_28_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(46,event);" onfocus="return CKEDITOR.tools.callFunction(47,event);" onclick="CKEDITOR.tools.callFunction(48,this);return false;"><span class="cke_button_icon cke_button__pastetext_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1944px;background-size:auto;">&nbsp;</span><span id="cke_28_label" class="cke_button_label cke_button__pastetext_label" aria-hidden="false">Paste as plain text</span><span id="cke_28_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+Shift+V</span></a><a id="cke_29" class="cke_button cke_button__pastefromword cke_button_off" href="javascript:void('Paste from Word')" title="Paste from Word" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_29_label" aria-describedby="cke_29_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(49,event);" onfocus="return CKEDITOR.tools.callFunction(50,event);" onclick="CKEDITOR.tools.callFunction(51,this);return false;"><span class="cke_button_icon cke_button__pastefromword_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1896px;background-size:auto;">&nbsp;</span><span id="cke_29_label" class="cke_button_label cke_button__pastefromword_label" aria-hidden="false">Paste from Word</span><span id="cke_29_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_30" class="cke_button cke_button__insertpre cke_button_off" href="javascript:void('Insert code snippet')" title="Insert code snippet" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_30_label" aria-describedby="cke_30_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(52,event);" onfocus="return CKEDITOR.tools.callFunction(53,event);" onclick="CKEDITOR.tools.callFunction(54,this);return false;"><span class="cke_button_icon cke_button__insertpre_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/insertpre/icons/insertpre.png?t=J3AJ');background-position:0 0px;background-size:16px;">&nbsp;</span><span id="cke_30_label" class="cke_button_label cke_button__insertpre_label" aria-hidden="false">Insert code snippet</span><span id="cke_30_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_31" class="cke_button cke_button__table cke_button_off" href="javascript:void('Table')" title="Table" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_31_label" aria-describedby="cke_31_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(55,event);" onfocus="return CKEDITOR.tools.callFunction(56,event);" onclick="CKEDITOR.tools.callFunction(57,this);return false;"><span class="cke_button_icon cke_button__table_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -2328px;background-size:auto;">&nbsp;</span><span id="cke_31_label" class="cke_button_label cke_button__table_label" aria-hidden="false">Table</span><span id="cke_31_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_32" class="cke_button cke_button__emoji cke_button_off" href="javascript:void('Insert emoji')" title="Insert emoji" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_32_label" aria-describedby="cke_32_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(58,event);" onfocus="return CKEDITOR.tools.callFunction(59,event);" onclick="CKEDITOR.tools.callFunction(60,this);return false;"><span class="cke_button_icon cke_button__emoji_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -792px;background-size:auto;">&nbsp;</span><span id="cke_32_label" class="cke_button_label cke_button__emoji_label" aria-hidden="false">Insert emoji</span><span id="cke_32_description" class="cke_button_label" aria-hidden="false"></span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><iframe src="" frameborder="0" class="cke_wysiwyg_frame cke_reset" style="width: 100%; height: 100%;" title="Rich Text Editor, f_description" tabindex="0" allowtransparency="true"></iframe></div><span id="cke_1_bottom" class="cke_bottom cke_reset_all" role="presentation" style="user-select: none; background-color: rgb(255, 255, 255);"><span id="cke_1_resizer" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" title="Resize" onmousedown="CKEDITOR.tools.callFunction(0, event)">◢</span></span></div></div>
<script> startRte({name: 'f_description'}); </script></div></div>
                        <div id="project-docs" style="position: relative;"><div id="project-docs_container" class="plupload_container"><div class="plupload_filelist_help"><div class="flex"><div><span class="sprites icon17 iconUpload"></span></div><div>Add documents <a class="hand plupload_button plupload_add" id="project-docs_browse" style="position: relative; z-index: 1;">from your computer</a><span id="project-docs_orgoog"> or <a class="hand" id="project-docs_google"> Google Drive</a></span><span class="js-or-drop-here" style="color: gray"> or drag &amp; drop here…</span></div></div></div><div><div id="project-docs_messages" style="display:none"></div><div class="plupload_filelist_header is-hidden-mobile" style="display:none"><div><div class="plupload_file_name">Title</div><div class="plupload_file_size">Size</div><div class="plupload_file_status">%</div></div></div><div id="project-docs_filelist" class="plupload_filelist" style="display:none"></div><div class="plupload_filelist_footer" style="display:none"><div><div class="plupload_file_name"></div><div class="plupload_file_size"><span class="plupload_total_file_size"></span></div><div class="plupload_file_status"></div><div class="plupload_file_edit"></div><div class="plupload_file_delete"></div></div></div></div></div><div id="html5_1dr97dd8j1sm3173rrbs1fhq11hh3_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 2px; left: 127px; width: 125px; height: 18px; overflow: hidden; z-index: 0;"><input id="html5_1dr97dd8j1sm3173rrbs1fhq11hh3" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept=""></div></div>
            <script>
                new Intervals.Uploader({
                    element: 'project-docs',
                    submitter: ['f_submit'],
                    preset: "",
                    dropzone: 'project-desc-cell',
                    required: false
                });
            </script>
                </div>
</div>

<div class="formSaveCell unbordered">
    <div>
        <input id="f_submit" type="submit" name="f_submit" value="Save" class="submit save" style="float: left;" onclick="pleaseWait(this);return killOnBeforeUnload();">

                    <input type="submit" name="f_cancel" value="Cancel &amp; go back to project list" style="float: right;" class="submit cancel" onclick="killOnBeforeUnload();location.href='/projects/index//'; return false;">
                </div>
</div>

</form>

<script>

new Pikaday({field: $('f_dateStart')});
new Pikaday({field: $('f_dateEnd')});

if(typeof toggleNewClient != 'function') {
    toggleNewClient = function(clientObj) {
        if($F(clientObj) < 0) {
            $('f_client_new').show().focus();
        } else {
            $('f_client_new').hide();
        }
    }
}

if(typeof updateBudget != 'function') {
    updateBudget = function() {
        var budget = unformatNumber(document.editProject.f_budget.value);
        if (isNaN(budget)) budget = 0;
        var percent = unformatNumber(document.editProject.f_alert_percent.value);
        if (isNaN(percent)) percent = 0;
        $('budget_alert_amount').innerHTML = formatCurrency((percent / 100) * budget);
    }
}
endEnabled = false;
storedEndDate = $F('f_dateEnd');
if(typeof toggleEndDate != 'function') {
    toggleEndDate = function() {
        if (endEnabled) {
            $('f_dateEnd').value = storedEndDate;
            $('project_date_end_date').show();
            $('project_date_end_none').hide();
        } else {
            storedEndDate = $F('f_dateEnd');
            $('f_dateEnd').value = '';
            $('project_date_end_date').hide();
            $('project_date_end_none').show();
        }
        endEnabled = !endEnabled;
    }
}

// set up multiple managers
var multi_managers = new Control.SelectMultiple('list_managers', {trigger: 'managers-multiple'});
multi_managers.setValue('');

    Event.observe(window,'load',function() {
    updateBudget();
    toggleEndDate();
    $('f_name').focus();
});
</script>
                    </div>

    </div>
<!-- New project creation end -->
