
<!-- New project button bar / Import & Export -->

<div class="action-bar clearfix do-not-print">

        <style scoped>
                @import "../../../../assets/css/project_management.css";
        </style>

    <div class="wrapper">
        <div class="fl-left js-actions-bar">
<a class="hui-button hui-button-primary hui-button-icon-left" href="/projects/new">
  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
<path d="M7 5h5v2H7v5H5V7H0V5h5V0h2v5z"></path>
</svg>
  New Project
</a>
<button type="button" class="hui-button js-import-button">Import</button>

<button type="button" class="hui-button button-projects-export js-export-button">Export</button>
</div>

<!-- <div class="fl-right clearfix js-project-search-wrapper">
<div class="input-with-suggestions js-search-box suggestions-are-hidden" role="search">
<input autocomplete="off" class="hui-input js-project-search js-search-input" id="project-search" placeholder="Search by client or project name" name="search_terms" type="text" value="" aria-label="Search by client or project name" required="">
<div class="input-suggestions project-search-results js-results"></div>
</div>
</div> -->


    </div>
  </div>

<!-- end for New Project button  -->

<section class="main-content columns is-fullheight">
    <aside class="column is-2 is-narrow-mobile is-fullheight section">
        <!-- filter - bulma start -->
        <nav class="panel">
            <p class="panel-heading">
              Filter Options
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <a class="panel-block is-active">
              <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              bulma
            </a>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              marksheet
            </a>
        
         
            <div class="panel-block">
              <button class="button is-link is-outlined is-fullwidth">
                Reset all filters
              </button>
            </div>
          </nav>
        <!-- filter - bulma end -->
    </aside>



    <div id="mainCell" class="column column-center">
            <style scoped>
                    @import "../../../../assets/css/project_management_new.css";
            </style> <br> <br>
            <!-- <header class="header-card">
                <div class="list-modifier is-hidden-desktop simple-sidebar-toggle">
                    <a class="js-sidebar-toggle">
                        <i class="sprites icon-chubby"></i>
                    </a>
                </div>
                <div class="header-row">
                    <div class="header-row-item mb0">
                        <h1>
                                                            Create a new project                                                    </h1>
                    </div>
                </div>
            </header> -->

            <div id="mainContainer">
                                            



<form id="editProjectDetails" method="post" action="/index.php" name="editProject" class="shy-container">
<input type="hidden" name="module" value="projects">
<input type="hidden" name="action" value="submit">
<input type="hidden" name="f_ID" value="">
<input type="hidden" name="f_localID" value="">
<input type="hidden" name="f_localIDUnpadded" value="">

    <div class="item-details-container is-verticalizable">
        <div class="item-chunk mHeaderCell item-details-header">
            Details
        </div>
        <div class="item-chunk flex item-details">
            <div class="fields fields-fifty">
                                <div class="item-attr">
                    <div class="attr-label ">
                        Client: <a class="tooltip" rel="ttClient"><span class="sprites iconsTooltip"></span></a>
                        
                    </div>
                    <div class="attr-value">
                        <div class="mb5">
                            <select name="f_clientID" onchange="toggleNewClient(this);" class="item-input">
                                <option value="0">No client</option>
                                                                <option value="-1">Add a new client</option>
                            </select>
                        </div>
                        <div class="mt5 mb5">
                            <input id="f_client_new" type="text" name="f_client_new" value="" style="display: none;" placeholder="Client name">
                        </div>
                    </div>
                </div>
                <div class="item-attr">
                    <div class="attr-label thvRequired ">Name:</div>
                    <div class="attr-value"><input type="text" id="f_name" name="f_name" value="" class="item-input"></div>
                </div>
                <div class="item-attr">
                    <div class="attr-label ">
                        Project Manager: <a class="tooltip" rel="ttManager"><span class="sprites iconsTooltip"></span></a>
                        <div id="ttManager" class="tooltipText" style="display: none;">
                            <p>If you want to run reports based on who manages which projects, then selecting a project manager is a must.</p>
                            <p>Also, the project manager will receive email alerts when the project profile changes, and when project notes, project documents, invoices, payments, and expenses are created for this project.</p>
                            <p>Only administrator and manager level users can be set as project managers.</p>
                        </div>
                        </div>
                    <div class="attr-value flex">
                        <select id="list_managers" name="f_managerID" rel="" class="item-input-multi">
                            <option value="0">No project manager</option>
                                                        <option value="337713">Sai Teja</option>
                                                    </select>&nbsp;<a id="managers-multiple" title="Select Multiple" class="sprites iconsMulti"></a>
                    </div>
                </div>
                <div class="item-attr">
                    <div class="attr-label">Status:</div>
                    <div class="attr-value">
                        <div class="control">
                            <input type="radio" id="status_active" name="f_active" value="t" checked="checked">&nbsp;<label for="status_active">Active</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="status_inactive" name="f_active" value="f">&nbsp;<label for="status_inactive">Inactive</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields fields-fifty">
                <div class="item-attr">
                    <div class="attr-label thvRequired ">
                        Billable: <a class="tooltip" rel="ttBillable"><span class="sprites iconsTooltip"></span></a>

                        <div id="ttBillable" class="tooltipText" style="display: none;">
                            This setting affects the preselected value in the billable checkbox when adding time to this project. As it is only a preset, you can override it when adding time.
                        </div>
                    </div>
                    <div class="attr-value nowrap">
                        <div class="control">
                            <input type="radio" id="f_billable" name="f_billable" value="t" checked=""> Yes
                            &nbsp;&nbsp;&nbsp;
                            <input type="radio" id="f_billable" name="f_billable" value="f"> No
                        </div>
                    </div>
                </div>
                <div class="item-attr">
                    <div class="attr-label thvRequired ">Start:</div>
                    <div class="attr-value nowrap">
                        <input type="text" id="f_dateStart" name="f_dateStart" value="12/04/2019" class="input input-date" autocomplete="off" list="autocompleteOff">
                    </div>
                </div>
                <div class="item-attr">
                    <div class="attr-label ">End:</div>
                    <div class="attr-value is-clearable-content">
                        <div id="project_date_end_date" style="display:none">
                        <input type="text" id="f_dateEnd" name="f_dateEnd" value="12/11/2019" class="input input-date" autocomplete="off" list="autocompleteOff">

                        <a class="item-pick" onclick="toggleEndDate();" title="Don't set an end date for this project"><span class="icon-clear">×</span></a>
                        </div>

                        <div id="project_date_end_none" style="">
                        <em>None</em> <a class="item-pick" onclick="toggleEndDate();" title="Select a date to use as the end date for this project">Set end date</a>
                        </div>
                    </div>
                </div>
                <div class="item-attr vertical-fifty">
                    <div class="attr-label ">Budget:</div>
                    <div class="attr-value nowrap"><input type="text" name="f_budget" value="&nbsp;" onkeyup="updateBudget();" class="item-input">
                    </div>
                </div>
                <div class="item-attr vertical-fifty">
                    <div class="attr-label">Actual:</div>
                    <div class="attr-value">$0.00</div>
                </div>
                <div class="item-attr">
                    <div class="attr-label ">
                        Alert When: <a class="tooltip" rel="ttAlert"><span class="sprites iconsTooltip"></span></a>
                        
                    </div>
                    <div class="attr-value">
                        <input type="text" size="4" maxlength="3" name="f_alert_percent" value="0" onkeyup="updateBudget();"> % of budget (<span id="budget_alert_amount">$0.00</span>) is reached.
                    </div>
                </div>
                            </div>
        </div>

        <div id="task-view-summary-title" class="item-details item-chunk p0 m0" style="display: ;">
            <div class="item-chunk mHeaderCell">Description:</div>
        </div>

        <div id="project-desc-cell" class="item-chunk item-details  position-relative" data-dropzone="1"><div class="plupload_area_indicator" style="display: none;">Drop files to upload</div>
            <div><div id="rte_f_description"><a id="rtet_f_description" onclick="toggleRTE(this,'f_description');" class="hand rte-toggle" tabindex="-1"><span class="sprites delete"></span> Disable advanced editor </a><input type="hidden" id="f_description_bypass_entify" name="f_description_bypass_entify" value="1"><textarea name="f_description" id="f_description" cols="40" rows="4" class="vert resizable" style="width: 100%; height: 120px; position: relative; overflow: auto; visibility: hidden; display: none;" tabindex=""></textarea><div id="cke_f_description" class="cke_1 cke cke_reset cke_chrome cke_editor_f_description cke_ltr cke_browser_webkit" dir="ltr" lang="en" role="application" aria-labelledby="cke_f_description_arialbl"><span id="cke_f_description_arialbl" class="cke_voice_label">Rich Text Editor, f_description</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; user-select: none; background-color: rgb(255, 255, 255);"><span id="cke_11" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_11" onmousedown="return false;"><span id="cke_12" class="cke_toolbar cke_toolbar_last" role="toolbar"><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_13" class="cke_button cke_button__source cke_button_off" href="javascript:void('Source')" title="Source" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_13_label" aria-describedby="cke_13_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(1,event);" onfocus="return CKEDITOR.tools.callFunction(2,event);" onclick="CKEDITOR.tools.callFunction(3,this);return false;"><span class="cke_button_icon cke_button__source_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -2232px;background-size:auto;">&nbsp;</span><span id="cke_13_label" class="cke_button_label cke_button__source_label" aria-hidden="false">Source</span><span id="cke_13_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_14" class="cke_button cke_button__bold cke_button_off" href="javascript:void('Bold')" title="Bold (Ctrl+B)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_14_label" aria-describedby="cke_14_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(4,event);" onfocus="return CKEDITOR.tools.callFunction(5,event);" onclick="CKEDITOR.tools.callFunction(6,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -24px;background-size:auto;">&nbsp;</span><span id="cke_14_label" class="cke_button_label cke_button__bold_label" aria-hidden="false">Bold</span><span id="cke_14_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+B</span></a><a id="cke_15" class="cke_button cke_button__italic cke_button_off" href="javascript:void('Italic')" title="Italic (Ctrl+I)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_15_label" aria-describedby="cke_15_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(7,event);" onfocus="return CKEDITOR.tools.callFunction(8,event);" onclick="CKEDITOR.tools.callFunction(9,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -48px;background-size:auto;">&nbsp;</span><span id="cke_15_label" class="cke_button_label cke_button__italic_label" aria-hidden="false">Italic</span><span id="cke_15_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+I</span></a><a id="cke_16" class="cke_button cke_button__underline cke_button_off" href="javascript:void('Underline')" title="Underline (Ctrl+U)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_16_label" aria-describedby="cke_16_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(10,event);" onfocus="return CKEDITOR.tools.callFunction(11,event);" onclick="CKEDITOR.tools.callFunction(12,this);return false;"><span class="cke_button_icon cke_button__underline_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -144px;background-size:auto;">&nbsp;</span><span id="cke_16_label" class="cke_button_label cke_button__underline_label" aria-hidden="false">Underline</span><span id="cke_16_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+U</span></a><a id="cke_17" class="cke_button cke_button__strike cke_button_off" href="javascript:void('Strikethrough')" title="Strikethrough" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_17_label" aria-describedby="cke_17_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(13,event);" onfocus="return CKEDITOR.tools.callFunction(14,event);" onclick="CKEDITOR.tools.callFunction(15,this);return false;"><span class="cke_button_icon cke_button__strike_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -72px;background-size:auto;">&nbsp;</span><span id="cke_17_label" class="cke_button_label cke_button__strike_label" aria-hidden="false">Strikethrough</span><span id="cke_17_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_18" class="cke_button cke_button__textcolor cke_button_off" href="javascript:void('Text Color')" title="Text Color" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-describedby="cke_18_description" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(16,event);" onfocus="return CKEDITOR.tools.callFunction(17,event);" onclick="CKEDITOR.tools.callFunction(18,this);return false;"><span class="cke_button_icon cke_button__textcolor_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -456px;background-size:auto;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__textcolor_label" aria-hidden="false">Text Color</span><span id="cke_18_description" class="cke_button_label" aria-hidden="false"></span><span class="cke_button_arrow"></span></a><a id="cke_19" class="cke_button cke_button__bgcolor cke_button_off" href="javascript:void('Background Color')" title="Background Color" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_19_label" aria-describedby="cke_19_description" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(19,event);" onfocus="return CKEDITOR.tools.callFunction(20,event);" onclick="CKEDITOR.tools.callFunction(21,this);return false;"><span class="cke_button_icon cke_button__bgcolor_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -432px;background-size:auto;">&nbsp;</span><span id="cke_19_label" class="cke_button_label cke_button__bgcolor_label" aria-hidden="false">Background Color</span><span id="cke_19_description" class="cke_button_label" aria-hidden="false"></span><span class="cke_button_arrow"></span></a><a id="cke_20" class="cke_button cke_button__numberedlist cke_button_off" href="javascript:void('Insert/Remove Numbered List')" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_20_label" aria-describedby="cke_20_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(22,event);" onfocus="return CKEDITOR.tools.callFunction(23,event);" onclick="CKEDITOR.tools.callFunction(24,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1704px;background-size:auto;">&nbsp;</span><span id="cke_20_label" class="cke_button_label cke_button__numberedlist_label" aria-hidden="false">Insert/Remove Numbered List</span><span id="cke_20_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_21" class="cke_button cke_button__bulletedlist cke_button_off" href="javascript:void('Insert/Remove Bulleted List')" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_21_label" aria-describedby="cke_21_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(25,event);" onfocus="return CKEDITOR.tools.callFunction(26,event);" onclick="CKEDITOR.tools.callFunction(27,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1656px;background-size:auto;">&nbsp;</span><span id="cke_21_label" class="cke_button_label cke_button__bulletedlist_label" aria-hidden="false">Insert/Remove Bulleted List</span><span id="cke_21_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_22" class="cke_button cke_button__checklist cke_button_off" href="javascript:void('Insert/Remove Checklist')" title="Insert/Remove Checklist" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_22_label" aria-describedby="cke_22_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(28,event);" onfocus="return CKEDITOR.tools.callFunction(29,event);" onclick="CKEDITOR.tools.callFunction(30,this);return false;"><span class="cke_button_icon cke_button__checklist_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -240px;background-size:auto;">&nbsp;</span><span id="cke_22_label" class="cke_button_label cke_button__checklist_label" aria-hidden="false">Insert/Remove Checklist</span><span id="cke_22_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_23" class="cke_button cke_button__outdent cke_button_disabled " href="javascript:void('Decrease Indent')" title="Decrease Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_23_label" aria-describedby="cke_23_description" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(31,event);" onfocus="return CKEDITOR.tools.callFunction(32,event);" onclick="CKEDITOR.tools.callFunction(33,this);return false;"><span class="cke_button_icon cke_button__outdent_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1344px;background-size:auto;">&nbsp;</span><span id="cke_23_label" class="cke_button_label cke_button__outdent_label" aria-hidden="false">Decrease Indent</span><span id="cke_23_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_24" class="cke_button cke_button__indent cke_button_off" href="javascript:void('Increase Indent')" title="Increase Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_24_label" aria-describedby="cke_24_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(34,event);" onfocus="return CKEDITOR.tools.callFunction(35,event);" onclick="CKEDITOR.tools.callFunction(36,this);return false;"><span class="cke_button_icon cke_button__indent_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1296px;background-size:auto;">&nbsp;</span><span id="cke_24_label" class="cke_button_label cke_button__indent_label" aria-hidden="false">Increase Indent</span><span id="cke_24_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_25" class="cke_button cke_button__image cke_button_off" href="javascript:void('Image')" title="Image" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_25_label" aria-describedby="cke_25_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(37,event);" onfocus="return CKEDITOR.tools.callFunction(38,event);" onclick="CKEDITOR.tools.callFunction(39,this);return false;"><span class="cke_button_icon cke_button__image_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1248px;background-size:auto;">&nbsp;</span><span id="cke_25_label" class="cke_button_label cke_button__image_label" aria-hidden="false">Image</span><span id="cke_25_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_26" class="cke_button cke_button__link cke_button_off" href="javascript:void('Link')" title="Link (Ctrl+L)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_26_label" aria-describedby="cke_26_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(40,event);" onfocus="return CKEDITOR.tools.callFunction(41,event);" onclick="CKEDITOR.tools.callFunction(42,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1584px;background-size:auto;">&nbsp;</span><span id="cke_26_label" class="cke_button_label cke_button__link_label" aria-hidden="false">Link</span><span id="cke_26_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+L</span></a><a id="cke_27" class="cke_button cke_button__unlink cke_button_disabled " href="javascript:void('Unlink')" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_27_label" aria-describedby="cke_27_description" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(43,event);" onfocus="return CKEDITOR.tools.callFunction(44,event);" onclick="CKEDITOR.tools.callFunction(45,this);return false;"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1608px;background-size:auto;">&nbsp;</span><span id="cke_27_label" class="cke_button_label cke_button__unlink_label" aria-hidden="false">Unlink</span><span id="cke_27_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_28" class="cke_button cke_button__pastetext cke_button_off" href="javascript:void('Paste as plain text')" title="Paste as plain text (Ctrl+Shift+V)" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_28_label" aria-describedby="cke_28_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(46,event);" onfocus="return CKEDITOR.tools.callFunction(47,event);" onclick="CKEDITOR.tools.callFunction(48,this);return false;"><span class="cke_button_icon cke_button__pastetext_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1944px;background-size:auto;">&nbsp;</span><span id="cke_28_label" class="cke_button_label cke_button__pastetext_label" aria-hidden="false">Paste as plain text</span><span id="cke_28_description" class="cke_button_label" aria-hidden="false">Keyboard shortcut Ctrl+Shift+V</span></a><a id="cke_29" class="cke_button cke_button__pastefromword cke_button_off" href="javascript:void('Paste from Word')" title="Paste from Word" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_29_label" aria-describedby="cke_29_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(49,event);" onfocus="return CKEDITOR.tools.callFunction(50,event);" onclick="CKEDITOR.tools.callFunction(51,this);return false;"><span class="cke_button_icon cke_button__pastefromword_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -1896px;background-size:auto;">&nbsp;</span><span id="cke_29_label" class="cke_button_label cke_button__pastefromword_label" aria-hidden="false">Paste from Word</span><span id="cke_29_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_30" class="cke_button cke_button__insertpre cke_button_off" href="javascript:void('Insert code snippet')" title="Insert code snippet" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_30_label" aria-describedby="cke_30_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(52,event);" onfocus="return CKEDITOR.tools.callFunction(53,event);" onclick="CKEDITOR.tools.callFunction(54,this);return false;"><span class="cke_button_icon cke_button__insertpre_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/insertpre/icons/insertpre.png?t=J3AJ');background-position:0 0px;background-size:16px;">&nbsp;</span><span id="cke_30_label" class="cke_button_label cke_button__insertpre_label" aria-hidden="false">Insert code snippet</span><span id="cke_30_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_31" class="cke_button cke_button__table cke_button_off" href="javascript:void('Table')" title="Table" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_31_label" aria-describedby="cke_31_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(55,event);" onfocus="return CKEDITOR.tools.callFunction(56,event);" onclick="CKEDITOR.tools.callFunction(57,this);return false;"><span class="cke_button_icon cke_button__table_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -2328px;background-size:auto;">&nbsp;</span><span id="cke_31_label" class="cke_button_label cke_button__table_label" aria-hidden="false">Table</span><span id="cke_31_description" class="cke_button_label" aria-hidden="false"></span></a><a id="cke_32" class="cke_button cke_button__emoji cke_button_off" href="javascript:void('Insert emoji')" title="Insert emoji" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_32_label" aria-describedby="cke_32_description" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(58,event);" onfocus="return CKEDITOR.tools.callFunction(59,event);" onclick="CKEDITOR.tools.callFunction(60,this);return false;"><span class="cke_button_icon cke_button__emoji_icon" style="background-image:url('https://intervals.cdnedge.bluemix.net/rte/plugins/icons.png?t=J3AJ');background-position:0 -792px;background-size:auto;">&nbsp;</span><span id="cke_32_label" class="cke_button_label cke_button__emoji_label" aria-hidden="false">Insert emoji</span><span id="cke_32_description" class="cke_button_label" aria-hidden="false"></span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><iframe src="" frameborder="0" class="cke_wysiwyg_frame cke_reset" style="width: 100%; height: 100%;" title="Rich Text Editor, f_description" tabindex="0" allowtransparency="true"></iframe></div><span id="cke_1_bottom" class="cke_bottom cke_reset_all" role="presentation" style="user-select: none; background-color: rgb(255, 255, 255);"><span id="cke_1_resizer" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" title="Resize" onmousedown="CKEDITOR.tools.callFunction(0, event)">◢</span></span></div></div>
<script> startRte({name: 'f_description'}); </script></div></div>
                            <div id="project-docs" style="position: relative;"><div id="project-docs_container" class="plupload_container"><div class="plupload_filelist_help"><div class="flex"><div><span class="sprites icon17 iconUpload"></span></div><div>Add documents <a class="hand plupload_button plupload_add" id="project-docs_browse" style="position: relative; z-index: 1;">from your computer</a><span id="project-docs_orgoog"> or <a class="hand" id="project-docs_google"> Google Drive</a></span><span class="js-or-drop-here" style="color: gray"> or drag &amp; drop here…</span></div></div></div><div><div id="project-docs_messages" style="display:none"></div><div class="plupload_filelist_header is-hidden-mobile" style="display:none"><div><div class="plupload_file_name">Title</div><div class="plupload_file_size">Size</div><div class="plupload_file_status">%</div></div></div><div id="project-docs_filelist" class="plupload_filelist" style="display:none"></div><div class="plupload_filelist_footer" style="display:none"><div><div class="plupload_file_name"></div><div class="plupload_file_size"><span class="plupload_total_file_size"></span></div><div class="plupload_file_status"></div><div class="plupload_file_edit"></div><div class="plupload_file_delete"></div></div></div></div></div><div id="html5_1dr6gjdli1dvec32172i1tam1a1v3_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 2px; left: 127px; width: 125px; height: 18px; overflow: hidden; z-index: 0;"><input id="html5_1dr6gjdli1dvec32172i1tam1a1v3" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept=""></div></div>
                <script>
                    new Intervals.Uploader({
                        element: 'project-docs',
                        submitter: ['f_submit'],
                        preset: "",
                        dropzone: 'project-desc-cell',
                        required: false
                    });
                </script>
                    </div>
    </div>

    <div class="formSaveCell unbordered">
        <div>
            <input id="f_submit" type="submit" name="f_submit" value="Save" class="submit save" style="float: left;" onclick="pleaseWait(this);return killOnBeforeUnload();">

                        <input type="submit" name="f_cancel" value="Cancel &amp; go back to project list" style="float: right;" class="submit cancel" onclick="killOnBeforeUnload();location.href='/projects/index//'; return false;">
                    </div>
    </div>

</form>

<script>

    new Pikaday({field: $('f_dateStart')});
    new Pikaday({field: $('f_dateEnd')});

    if(typeof toggleNewClient != 'function') {
        toggleNewClient = function(clientObj) {
            if($F(clientObj) < 0) {
                $('f_client_new').show().focus();
            } else {
                $('f_client_new').hide();
            }
        }
    }

    if(typeof updateBudget != 'function') {
        updateBudget = function() {
            var budget = unformatNumber(document.editProject.f_budget.value);
            if (isNaN(budget)) budget = 0;
            var percent = unformatNumber(document.editProject.f_alert_percent.value);
            if (isNaN(percent)) percent = 0;
            $('budget_alert_amount').innerHTML = formatCurrency((percent / 100) * budget);
        }
    }
    endEnabled = false;
    storedEndDate = $F('f_dateEnd');
    if(typeof toggleEndDate != 'function') {
        toggleEndDate = function() {
            if (endEnabled) {
                $('f_dateEnd').value = storedEndDate;
                $('project_date_end_date').show();
                $('project_date_end_none').hide();
            } else {
                storedEndDate = $F('f_dateEnd');
                $('f_dateEnd').value = '';
                $('project_date_end_date').hide();
                $('project_date_end_none').show();
            }
            endEnabled = !endEnabled;
        }
    }

    // set up multiple managers
    var multi_managers = new Control.SelectMultiple('list_managers', {trigger: 'managers-multiple'});
    multi_managers.setValue('');

        Event.observe(window,'load',function() {
        updateBudget();
        toggleEndDate();
        $('f_name').focus();
    });
    </script>
                        </div>

        </div>


    </section>