html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body,
input,
select,
textarea,
button,
p {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px
}

body:not(.page-is-public) {
  padding-bottom: 200px
}

td,
th {
  font-size: 14px
}

p {
  line-height: normal
}

@-webkit-keyframes mod-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes mod-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.flex-button-cell {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-bottom: 18px
}

.actionrow>div {
  display: table-cell;
  height: 36px
}

.actionrow>div .wait {
  vertical-align: sub
}

.loader-img {
  border-radius: 50%;
  border: .25rem solid #bbb;
  border-top-color: #666;
  -webkit-animation: mod-spin 1s infinite linear;
  animation: mod-spin 1s infinite linear;
  background: 0;
  -webkit-transform-origin: 16px 16px 16px;
  transform-origin: 16px 16px 16px
}

.wait {
  border-radius: 50%;
  border: .25rem solid #bbb;
  border-top-color: #666;
  -webkit-animation: mod-spin 1s infinite linear;
  animation: mod-spin 1s infinite linear;
  background: 0;
  width: 22px;
  height: 22px;
  -webkit-transform-origin: 11px 11px 11px;
  transform-origin: 11px 11px 11px
}

.progress {
  background: 0;
  border-radius: 50%;
  border: .15rem solid #888;
  border-top-color: #bbb;
  line-height: 100%;
  -webkit-animation: mod-spin 1s infinite linear;
  animation: mod-spin 1s infinite linear;
  -webkit-transform-origin: 5px 5px 5px;
  transform-origin: 5px 5px 5px
}

.wait-timer {
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 50%;
  border: 3px solid #bbb;
  border-top-color: #555;
  -webkit-animation: mod-spin 1s infinite linear;
  animation: mod-spin 1s infinite linear;
  display: inline-block;
  -webkit-transform-origin: 9px;
  transform-origin: 9px;
  vertical-align: middle
}

.ticking-timer {
  width: 1.28571429em;
  height: 1.28571429em;
  vertical-align: middle
}

.cke_1 .cke_bottom,
.cke_1 .cke_top {
  background-image: none !important;
  background-color: transparent
}

.cke_bottom {
  border-top: 0 !important
}

.cke_1 .cke_toolgroup {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent !important
}

.cke_chrome {
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.cke_1 a.cke_button_off:hover {
  background-image: none !important;
  background-color: #eee !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.cke_top {
  padding: 6px 1px 2px 10px !important
}

font[face],
span[style*='font-family'] {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important
}

.pr-square {
  border-radius: 3px
}

.caret {
  color: transparent;
  line-height: 0
}

.caret:after {
  color: #999;
  line-height: initial
}

.caret-forward {
  margin-top: 2px;
  margin-left: -3px
}

.caret-forward:after {
  content: '\f101'
}

.caret-back {
  margin-top: 2px;
  margin-left: -3px
}

.caret-back:after {
  content: '\f100'
}

.rte-toggle {
  font-size: 11px
}

.floatRightM {
  float: right
}

th.unstrong,
.unstrong strong,
.unstrong b {
  font-weight: normal !important
}

td.obPositive,
th.obPositive,
td.obPositive a,
th.obPositive a {
  color: #7eac4e !important;
  font-weight: normal !important
}

td.obNegative,
th.obNegative,
strong.projectBvaNegative,
td.obNegative a,
th.obNegative a {
  color: #dd3c33 !important;
  font-weight: normal !important
}

h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 27px
}

.project-section {
  font-size: 15px;
  color: #666
}

.project-name {
  display: block;
  margin-right: 10px
}

@media(min-width:769px) {
  .body-card {
    position: relative
  }

  .list-actions {
    position: absolute;
    right: 3px;
    bottom: 7px;
    z-index: 1
  }
}

@media(max-width:768px) {
  .list-modifier {
    float: right;
    margin-left: .75rem
  }
}

.list-actions li {
  position: relative
}

.list-actions>ul ul {
  display: none !important;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  padding: 10px;
  width: 266px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  z-index: 1
}

.list-actions.active>ul ul {
  display: inline-block !important
}

.list-actions .fa {
  color: #999;
  font-size: 17px
}

.list-actions .fa-cog {
  text-align: center;
  cursor: pointer
}

.list-actions .fa-cog:after {
  content: '\f107';
  margin-left: 3px;
  font-weight: bold
}

.list-actions:hover .fa,
.list-actions.active .fa {
  color: #333
}

.list-actions li label {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap
}

.list-actions li label [type=checkbox] {
  margin-right: .375em
}

.list-actions .control:not(:last-child):not(:empty) {
  margin-bottom: 10px
}

.grid-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.grid-titles {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%
}

@media(min-width:768px) {
  .grid-head>div:last-child {
    -ms-flex-item-align: end;
    align-self: flex-end
  }
}

.counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1;
  color: #586069;
  background-color: #eaeaea;
  border-radius: 20px
}

.counter:before {
  content: ''
}

.counter:after {
  content: ''
}

a .counter {
  margin-left: .5em
}

.tags {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent
}

.col-sidebar .tags {
  max-width: 210px
}

div.pinstripe {
  height: 0;
  background-color: transparent
}

.overdue {
  color: #777
}

hr {
  background-color: #ccc
}

.crumber {
  border-radius: 0
}

.crumbs a {
  background-image: none;
  background: #999;
  margin-left: -1px;
  padding: 0 25px 0 25px;
  color: #fff
}

.crumbs li:first-child a {
  border-radius: 0
}

.crumbs .crumb--selected {
  background-color: #2e2e2e
}

.crumbs a:after {
  content: '';
  position: absolute;
  right: -10px;
  width: 29px;
  height: 29px;
  background: #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #fff;
  border-width: 1px 1px 0 0;
  border-radius: 4px
}

.crumbs .crumb--selected:after {
  content: '';
  position: absolute;
  right: -10px;
  width: 29px;
  height: 29px;
  background: #2e2e2e;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #ddd;
  border-width: 1px 1px 0 0
}

.importRetry {
  text-align: left;
  padding: 10px 5px 0 5px;
  border: 0;
  background: transparent
}

.indent-icon {
  display: inline-block;
  padding-left: 20px;
  position: relative
}

.indent-icon:hover span:after {
  color: #0073aa
}

ul#importTemplates li>a>.sprites {
  vertical-align: top
}

.light {
  color: #7a7a7a
}

.light-line {
  line-height: 26px
}

.highlighted {
  font-weight: normal;
  background-color: rgba(255, 255, 140, 0.5)
}

div#themeScroller {
  height: 510px
}

div.ssThemeChunk {
  height: 265px
}

.setupDone input[type=submit] {
  font-size: 17px;
  line-height: 1.9em
}

.document_upload_main {
  background-color: transparent;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1)
}

.invoice_create_main {
  background-color: transparent
}

.invoice_create_projects {
  background-color: transparent;
  border-top: 1px solid #ccc
}

table td.fineprint {
  font-size: 100%
}

div.dashboardLegend ul li {
  padding-left: 0;
  margin-bottom: 0
}

.dashboardLegend .msOpen {
  background-color: transparent !important
}

.dashboardLegend .msOpen:before {
  color: #8b5
}

.dashboardLegend .msOverdue:before {
  color: #c33
}

a,
a.deleteFilter:hover {
  color: #0073aa
}

@media not print and (min-width:769px) {
  .shy-table a:not(.outgoing):not([title='Edit']):not(.tooltip) {
    color: #333
  }

  .shy-table thead:hover a:not([title='Edit']),
  .shy-table tbody tr:hover a:not([title='Edit']):not(.shy-link):not(.tooltip):not(.iconsMulti),
  .shy-table tfoot:hover a:not([title='Edit']) {
    color: #0073aa
  }

  .shy-list a:not(.outgoing):not([title='Edit']):not(.tooltip):not(.card-menu-item) {
    color: #333
  }

  .shy-list:hover a:not(.outgoing):not([title='Edit']):not(.tooltip):not(.card-menu-item) {
    color: #0073aa
  }

  .shy-container a:not(.outgoing):not([title='Edit']):not(.tooltip) {
    color: #333
  }

  .shy-container:hover a:not(.outgoing):not([title='Edit']):not(.tooltip) {
    color: #0073aa
  }

  .milestoneviewtask:hover .shy-link {
    color: #0073aa !important
  }
}

a[title^='Delete']:hover,
a[title^='Delete']:hover .sprites:before,
span.spritesHover[title^='Delete']:hover::before {
  color: #c33
}

.container {
  position: relative;
  margin: 0 37px 0 31px
}

.header-top .container {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@media(min-width:768px) {
  .header-top .container>div {
    display: table-cell;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top
  }
}

.create {
  display: table
}

.create>li {
  display: table-cell
}

.create button {
  border: 1px solid transparent;
  background-color: transparent;
  color: #999;
  z-index: 3;
  position: relative;
  cursor: pointer;
  margin-right: 0
}

.create button:hover {
  background-color: transparent
}

.create button span {
  border-top-color: #999;
  margin: 9px 3px 0 5px
}

.create .buttonOn span,
.create button:hover span {
  border-top-color: #666
}

.create .buttonOn {
  background-color: #e3e3e3 !important;
  color: #a2a2a2
}

.create .is-drop:hover {
  border-radius: 0;
  border: 1px solid transparent
}

.create .buttonOn {
  border-radius: 0;
  border: 1px solid #ececec;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1
}

.create button:focus {
  outline: 0
}

.create ul {
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  z-index: 1;
  background: #e3e3e3
}

.create ul li a {
  background-color: transparent
}

.create li:hover>ul {
  display: none
}

.create ul li a:hover {
  background-color: transparent;
  color: #7d95c6
}

#alertCell {
  min-width: 0
}

#alertContainer {
  border-radius: 3px;
  padding: 10px 17px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  width: auto;
  z-index: 1;
  min-width: 400px
}

#alertContainer li {
  margin-bottom: 4px
}

#globalIconCell {
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 31px;
  margin-right: 0
}

#globalIconCell .alerts {
  position: absolute;
  border-radius: 3px;
  border: 1px solid #dadada;
  border-top: 0;
  padding: 10px 17px 6px 17px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  width: auto;
  z-index: 10;
  background: #e3e3e3
}

.alerts.callout:before {
  content: '';
  display: block;
  position: absolute;
  left: 53%;
  top: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: 1px solid silver;
  border-top: 1px solid silver
}

.btn-bell .num-alerts {
  display: none;
  position: absolute;
  top: -2px;
  left: 22px;
  font-style: normal;
  font-weight: bold;
  background: #ff3e33;
  border-radius: 50%;
  padding: 0 4px 0 4px;
  text-align: center;
  min-width: 1em;
  color: #fff;
  font-size: .8em
}

.btn-bell.has-alerts .num-alerts {
  display: block
}

.globalMessage {
  padding: 12px 37px 12px 37px;
  background-color: #e3e3e3
}

.globalMessage h2,
.globalMessage h2 a {
  font-weight: normal;
  color: #cd2c23
}

.globalMessage li .fa {
  color: #999
}

.globalMessage .close {
  color: silver
}

.trialMessage>div:first-child {
  -ms-flex-preferred-size: 415px;
  flex-basis: 415px
}

@media(max-width:850px) {
  .trialMessage {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .trialMessage>div:first-child {
    margin-bottom: 10px
  }
}

.trialMessage h2 {
  margin-bottom: 0
}

.trialMessage p {
  padding-right: 20px
}

.global-first {
  width: 415px
}

#tip_message {
  padding-top: 6px;
  background-color: #7eac4e;
  background-image: none
}

#tip_message h3 {
  font-size: 14px
}

#tip_message h3 a {
  color: rgba(255, 255, 255, 0.6)
}

#tip_message .tips_links {
  font-size: 14px;
  border-left: 0
}

#tip_message a {
  line-height: 17px;
  color: #fff
}

#tip_message .tips_abstract {
  font-size: 14px;
  max-width: none;
  border-right: 0;
  padding-right: 0;
  margin-right: 0
}

#tip_message .fa {
  color: rgba(255, 255, 255, 0.6)
}

@media(max-width:850px) {
  #tip_message .tip-innards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

#brandCell {
  text-align: right;
  padding: 23px 46px 0 0
}

div[id=body] {
  margin: 0 37px;
  min-height: 260px
}

#footer .pinstripe {
  display: none
}

.header-wheels {
  background-color: #edf3fd;
  padding: 9px 0
}

.header-wheels h4 {
  margin: 0
}

.header-wheels .fa {
  color: #999
}

.header-wheels .container {
  margin-left: 40px
}

.primerCell ul,
.primerCell li {
  display: inline-block
}

.primerCell li {
  margin-right: 1em
}

.header-foot {
  background-color: #333
}

#navCell {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 24px;
  white-space: nowrap
}

#subnav {
  height: auto;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1)
}

#utilities {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-right: 42px
}

.create button,
.create ul li a,
#navCell>.s0>li a,
#subnav li a,
.grid_tabs ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571428571429
}

@media(min-width:769px) {
  #navCell li.nlcSubRight {
    background-color: transparent
  }
}

#navCell .s0>li .global-opts {
  padding: 0 12px 0 12px;
  line-height: 44px
}

#navCell .s0>li .global-opts .fa {
  font-size: 16px
}

#navCell .s0>li .global-profile {
  font-size: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden
}

#navCell .s0>li .global-profile img {
  margin: 0;
  vertical-align: middle;
  margin-top: -1px
}

#subnav>ul,
#subnav>ul>li {
  font-size: 0
}

#navCell .fa:before {
  color: #bbb
}

#navCell .nlcSubRight .fa:before {
  color: #bbb
}

#navCell .nlcSubRight:hover .fa:before {
  color: #fff
}

.logo-ppe {
  width: auto;
  max-height: 75px
}

#subnav li a {
  font-size: 13px
}

.subnavReports li {
  padding: 0
}

.subnavReports li.subnavBack {
  padding-right: 0
}

.s0>li,
.s0>li>a,
.s0>li>a:hover,
.s0>li>a>span {
  border-radius: 0
}

.s0 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.s0 ul {
  left: 0
}

.s0>li>ul {
  top: 43px;
  padding: 4px 3px
}

.s0>li {
  margin: 0;
  padding: 0
}

.s0>li>a {
  display: inline-block;
  color: #4a4a4a;
  padding: 12px 10px 12px 10px;
  vertical-align: top;
  color: #bbb
}

.s0 ul ul {
  top: -3px;
  left: 99%;
  padding: 4px 3px
}

.s0>li.nlcSubDocs {
  margin-right: auto
}

.s1,
.s2 {
  background: #1b1b1b;
  border: 0
}

.s1 {
  border-top: 0;
  border-radius: 0 0 3px 3px
}

.s1 .recent .fa {
  float: right;
  margin-top: 5px;
  margin-right: 4px;
  font-size: 12px
}

.s1 .recent:hover .fa:before {
  color: #ebebeb
}

.s1 a {
  background-color: transparent !important
}

.s1 .separator {
  border-bottom: 1px solid #555
}

.s2 {
  border-radius: 3px;
  padding-right: 10px
}

.s2 a {
  padding-right: 10px
}

.s1-small {
  width: 160px
}

.s1-medium {
  width: 190px
}

.header-foot:not(.open) li:hover>ul {
  display: block
}

#navCell .s1 li a,
#navCell .s2 li a {
  color: #bbb
}

#navCell .s1 li a:hover,
#navCell .s2 li a:hover {
  color: #ebebeb;
  background-color: initial !important
}

#navCell .s1 li.nlcSubdued a {
  color: #bbb
}

#navCell .s2 li a {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}

#navCell .s2 li:first-child {
  padding-top: 2px
}

#navCell .s2 li:first-child a {
  padding-top: 2px
}

#navCell li,
#navCell a {
  background-color: transparent !important
}

#navCell .s0>li>a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent
}

#navCell li.navTabOn>a,
#navCell li.navTabOn>a:hover,
#navCell .s0>li>a:hover {
  color: #f0f0f0;
  background-color: #1b1b1b !important
}

#subnav {
  background-color: transparent;
  padding: 0
}

#subnav .container>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

#subnav .addItem {
  padding-top: 0;
  padding-left: 0
}

#subnav ul li {
  padding: 0;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap
}

#subnav ul li a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding: 12px 10px 12px 10px;
  color: #7a7a7a;
  text-decoration: none
}

#subnav ul li a:hover {
  background: transparent !important;
  border-bottom: 1px solid #0073aa;
  border-top: 1px solid transparent;
  color: #363636
}

#subnav ul li.subnavOn {
  background-color: transparent
}

#subnav ul li.subnavOn a {
  border-bottom: 3px solid #0073aa;
  border-top: 1px solid transparent;
  color: #000
}

.subnavBack {
  display: none
}

#centerTable {
  padding: 15px 20px 10px 20px
}

#windowGrip {
  height: 15px
}

#windowContainer {
  border-radius: 4px;
  border: 1px solid #999
}

#windowContainer h1 {
  margin-bottom: 10px;
  cursor: move
}

.windowMsgContainer {
  border: 0
}

.windowThinker {
  text-align: right;
  padding: 15px 15px 0 0;
  position: absolute;
  right: 25px
}

.windowCloser {
  text-align: right;
  padding: 15px;
  position: absolute;
  right: 0;
  cursor: pointer
}

.icon-closer {
  font-size: 26px;
  color: #888;
  font-size: normal
}

.icon-closer:hover {
  text-decoration: none
}

.windowMsgContainer div {
  margin-bottom: 0
}

.win-footer:not(.unmargin-top) {
  margin-top: 0
}

div.grid_tabs {
  background-color: transparent;
  width: 100%;
  margin: 0
}

div.grid_tabs.ungrid {
  -webkit-box-shadow: 0 8px 3px -6px rgba(10, 10, 10, 0.1);
  box-shadow: 0 8px 3px -6px rgba(10, 10, 10, 0.1);
  margin-bottom: 10px
}

div.grid_tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

div.grid_tabs ul li {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

div.grid_tabs ul li:hover {
  background-color: transparent;
  text-decoration: none;
  color: #363636
}

div.grid_tabs ul li.on {
  background-color: transparent
}

div.grid_tabs ul li a {
  color: #7a7a7a;
  font-size: 13px;
  padding: 8px 10px 8px 10px;
  margin-right: 2px;
  border-radius: 3px 3px 0 0
}

div.grid_tabs ul li a:hover {
  text-decoration: none
}

div.grid_tabs ul li.on a {
  color: #363636;
  border-color: transparent;
  border-bottom: 1px solid transparent;
  background-color: #ddd
}

div.grid_tabs ul li:not(.on) a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  color: #363636
}

div.grid_tabs li,
div.grid_tabs li a {
  border-radius: 0
}

#report_tabs {
  margin-bottom: 0
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 2.285em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap
}

.button.is-primary {
  background-color: #693;
  border-color: transparent;
  color: #fff
}

.button.is-primary:hover {
  background-color: #5e8c2e;
  text-decoration: none
}

.button.is-cancel {
  background-color: #f5f5f5;
  border-color: #f5f5f5
}

.button.is-cancel:hover {
  text-decoration: none;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: #000
}

.button.is-small {
  border-radius: 2px;
  font-size: .75rem
}

.button.is-small .icon:first-child:not(:last-child) {
  margin-left: -0.375rem;
  margin-right: .375rem
}

.button.is-small .icon:last-child:not(:first-child) {
  margin-left: .375rem;
  margin-right: -0.375rem
}

.button.is-small .icon:first-child:last-child {
  margin-left: calc(-1px+-0.375rem);
  margin-right: calc(-1px+-0.375rem)
}

.button.is-small .icon.is-small:first-child:not(:last-child) {
  margin-left: -0.125rem
}

.button.is-small .icon.is-small:last-child:not(:first-child) {
  margin-right: -0.125rem
}

.button.is-small .icon.is-small:first-child:last-child {
  margin-left: calc(-1px+-0.125rem);
  margin-right: calc(-1px+-0.125rem)
}

.button.is-small .icon.is-medium:first-child:not(:last-child) {
  margin-left: -0.625rem
}

.button.is-small .icon.is-medium:last-child:not(:first-child) {
  margin-right: -0.625rem
}

.button.is-small .icon.is-medium:first-child:last-child {
  margin-left: calc(-1px+-0.625rem);
  margin-right: calc(-1px+-0.625rem)
}

.button.is-small .icon.is-large:first-child:not(:last-child) {
  margin-left: -1.125rem
}

.button.is-small .icon.is-large:last-child:not(:first-child) {
  margin-right: -1.125rem
}

.button.is-small .icon.is-large:first-child:last-child {
  margin-left: calc(-1px+-1.125rem);
  margin-right: calc(-1px+-1.125rem)
}

.button.is-medium {
  font-size: 1.25rem
}

.button.is-medium .icon:first-child:not(:last-child) {
  margin-left: -0.125rem;
  margin-right: .625rem
}

.button.is-medium .icon:last-child:not(:first-child) {
  margin-left: .625rem;
  margin-right: -0.125rem
}

.button.is-medium .icon:first-child:last-child {
  margin-left: calc(-1px+-0.125rem);
  margin-right: calc(-1px+-0.125rem)
}

.button.is-medium .icon.is-small:first-child:not(:last-child) {
  margin-left: .125rem
}

.button.is-medium .icon.is-small:last-child:not(:first-child) {
  margin-right: .125rem
}

.button.is-medium .icon.is-small:first-child:last-child {
  margin-left: calc(-1px+0.125rem);
  margin-right: calc(-1px+0.125rem)
}

.button.is-medium .icon.is-medium:first-child:not(:last-child) {
  margin-left: -0.375rem
}

.button.is-medium .icon.is-medium:last-child:not(:first-child) {
  margin-right: -0.375rem
}

.button.is-medium .icon.is-medium:first-child:last-child {
  margin-left: calc(-1px+-0.375rem);
  margin-right: calc(-1px+-0.375rem)
}

.button.is-medium .icon.is-large:first-child:not(:last-child) {
  margin-left: -0.875rem
}

.button.is-medium .icon.is-large:last-child:not(:first-child) {
  margin-right: -0.875rem
}

.button.is-medium .icon.is-large:first-child:last-child {
  margin-left: calc(-1px+-0.875rem);
  margin-right: calc(-1px+-0.875rem)
}

.button.is-large {
  font-size: 1.5rem
}

.button.is-large .icon:first-child:not(:last-child) {
  margin-left: 0rem;
  margin-right: .75rem
}

.button.is-large .icon:last-child:not(:first-child) {
  margin-left: .75rem;
  margin-right: 0rem
}

.button.is-large .icon:first-child:last-child {
  margin-left: calc(-1px+0rem);
  margin-right: calc(-1px+0rem)
}

.button.is-large .icon.is-small:first-child:not(:last-child) {
  margin-left: .25rem
}

.button.is-large .icon.is-small:last-child:not(:first-child) {
  margin-right: .25rem
}

.button.is-large .icon.is-small:first-child:last-child {
  margin-left: calc(-1px+0.25rem);
  margin-right: calc(-1px+0.25rem)
}

.button.is-large .icon.is-medium:first-child:not(:last-child) {
  margin-left: -0.25rem
}

.button.is-large .icon.is-medium:last-child:not(:first-child) {
  margin-right: -0.25rem
}

.button.is-large .icon.is-medium:first-child:last-child {
  margin-left: calc(-1px+-0.25rem);
  margin-right: calc(-1px+-0.25rem)
}

.button.is-large .icon.is-large:first-child:not(:last-child) {
  margin-left: -0.75rem
}

.button.is-large .icon.is-large:last-child:not(:first-child) {
  margin-right: -0.75rem
}

.button.is-large .icon.is-large:first-child:last-child {
  margin-left: calc(-1px+-0.75rem);
  margin-right: calc(-1px+-0.75rem)
}

.button[disabled],
.button.is-disabled {
  opacity: .5
}

.button.is-fullwidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none
}

.button.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 1rem;
  position: relative;
  width: 1rem;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  position: absolute !important
}

.button.is-light {
  background-color: whitesmoke;
  border-color: transparent;
  color: #363636
}

.button.is-light:hover,
.button.is-light.is-hovered {
  background-color: #eee;
  border-color: transparent;
  color: #363636
}

.button.is-light:focus,
.button.is-light.is-focused {
  border-color: transparent;
  -webkit-box-shadow: 0 0 .5em rgba(245, 245, 245, 0.25);
  box-shadow: 0 0 .5em rgba(245, 245, 245, 0.25);
  color: #363636
}

.button.is-light:active,
.button.is-light.is-active {
  background-color: #e8e8e8;
  border-color: transparent;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  color: #363636
}

.button.is-copied:before {
  content: 'Copied';
  color: #82ca38;
  position: absolute;
  background: #fff;
  left: -166%;
  top: 1px;
  line-height: 22px;
  vertical-align: middle;
  padding-left: 4px;
  opacity: 0;
  -webkit-animation: inlineSuccess 1.5s ease-out infinite;
  animation: inlineSuccess 1.5s ease-out infinite
}

.multiple-desc {
  min-height: 25px
}

@-webkit-keyframes inlineSuccess {
  0 {
    opacity: 0
  }

  35% {
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes inlineSuccess {
  0 {
    opacity: 0
  }

  35% {
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.checkbox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  vertical-align: top
}

.checkbox.inactive {
  cursor: default
}

input.submit,
button.submit {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: none none;
  box-shadow: none none;
  font-size: 14px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #693;
  background-image: none;
  color: #fff;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-shadow: none;
  white-space: nowrap
}

button.submit:hover,
input.submit:hover {
  background-color: #5e8c2e;
  -webkit-transition: none;
  transition: none;
  text-shadow: none
}

button.submit[disabled],
input.submit[disabled] {
  color: #fff;
  text-shadow: none !important;
  cursor: auto;
  background-color: #693 !important;
  opacity: .5
}

input.cancel,
button.cancel {
  color: #666;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: #f5f5f5;
  background-image: none
}

button.cancel:hover,
input.cancel:hover {
  background-color: #e4e4e4;
  -webkit-transition: none;
  transition: none;
  text-shadow: none
}

button.cancel[disabled],
input.cancel[disabled] {
  background-color: #e4e4e4 !important;
  opacity: .65;
  color: #000
}

input[type=text],
input[type=password],
input[type=file] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none
}

input[type=text],
input[type=password],
input[type=file],
select,
textarea {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #363636;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 21px;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  position: relative;
  vertical-align: top;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 100%
}

textarea {
  line-height: 17px;
  padding-top: 5px;
  padding-bottom: 5px
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {

  input[type=text],
  input[type=password],
  input[type=file],
  select,
  textarea {
    display: inline-block
  }
}

input[disabled] {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: start;
  padding-left: 8px;
  padding-right: 8px
}

input[type=file] {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:active,
input[type=text]:active,
input[type=password]:active,
select:active,
.dropt-header:focus,
.dropt-header:active {
  border-color: #0073aa;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.dropt-header {
  padding: 2px 1.5em 2px 8px;
  line-height: normal
}

.dropt-header:before {
  top: 9px
}

.dropt-body {
  margin-top: -10px
}

.dropt-me {
  background: 0;
  top: 5px;
  right: 17px;
  color: #999
}

.dropt-me:hover,
.dropt-me-on {
  text-decoration: none;
  color: #0073aa
}

.dropt-me:before {
  content: '\f007'
}

.dropt-search-icon {
  top: 3px
}

.input-date {
  background-position: 94px -367px
}

.input-monospace,
pre {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
  -webkit-font-smoothing: antialiased
}

select {
  outline: 0;
  line-height: 24px;
  padding-left: 4px;
  padding-right: 8px;
  font-size: 14px
}

input[type=radio],
input[type=checkbox] {
  border: 1px solid #999;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: 1px 4px 0 0;
  outline: 0;
  padding: 0;
  text-align: center;
  vertical-align: text-top;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none
}

input[type=radio] {
  border-radius: 50%;
  vertical-align: text-top;
  position: relative
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 0;
  border: 1px solid #0073aa
}

input[type=radio]:before,
input[type=checkbox]:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: transparent;
  content: '\f00c'
}

input[type=radio][disabled]:checked:before,
input[type=checkbox][disabled]:checked:before {
  color: #bbb
}

input[type=radio]:disabled,
input[type=checkbox]:disabled {
  border-color: #ddd
}

input[type=radio][disabled]:checked:before {
  background-color: #ddd
}

input[type=radio]:checked:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0073aa;
  position: absolute;
  top: 3px;
  left: 3px
}

input[type=checkbox]:checked:before {
  content: '\f00c';
  color: #0073aa
}

input[type=text][id=f_time],
input[type=text][name=f_time] {
  width: 54px;
  text-align: center
}

.control {
  position: relative;
  text-align: left;
  line-height: 25px
}

.control select:not([data-tag-suggest]) {
  min-height: 25px
}

.control.has-icon.has-icon-right .input {
  padding-right: 32px
}

.control.has-icon.has-icon-right>.fa {
  right: 9px
}

.control.has-icon>.fa {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  width: 24px;
  color: #dbdbdb;
  pointer-events: none;
  position: absolute;
  z-index: 4
}

.control.has-addons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.control.has-addons .button,
.control.has-addons .input,
.control.has-addons .select {
  border-radius: 0;
  width: auto
}

.control.has-addons .button:hover,
.control.has-addons .input:hover,
.control.has-addons .select:hover {
  z-index: 2
}

.control.has-addons .button:focus,
.control.has-addons .button:active,
.control.has-addons .input:focus,
.control.has-addons .input:active,
.control.has-addons .select:focus,
.control.has-addons .select:active {
  z-index: 3
}

.control.has-addons .button:first-child,
.control.has-addons .input:first-child,
.control.has-addons .select:first-child {
  border-radius: 3px 0 0 3px
}

.control.has-addons .button:first-child select,
.control.has-addons .input:first-child select,
.control.has-addons .select:first-child select {
  border-radius: 3px 0 0 3px
}

.control.has-addons .button:last-child,
.control.has-addons .input:last-child,
.control.has-addons .select:last-child {
  border-radius: 0 3px 3px 0
}

.control.has-addons .button:last-child select,
.control.has-addons .input:last-child select,
.control.has-addons .select:last-child select {
  border-radius: 0 3px 3px 0
}

.control.has-addons .button.is-expanded,
.control.has-addons .input.is-expanded,
.control.has-addons .select.is-expanded {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.control.has-addons .select select:hover {
  z-index: 2
}

.control.has-addons .select select:focus,
.control.has-addons .select select:active {
  z-index: 3
}

.control.has-addons.has-addons-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.control.has-addons.has-addons-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.control.has-addons.has-addons-fullwidth .button,
.control.has-addons.has-addons-fullwidth .input,
.control.has-addons.has-addons-fullwidth .select {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.control .is-button-icon {
  border: 1px solid #dbdbdb
}

.control.has-addons label {
  padding-right: .5em;
  line-height: 25px
}

@media(max-width:768px) {
  .control.has-addons label {
    line-height: 42px
  }
}

.control .has-pulse-label {
  padding-left: 1em;
  min-width: 85px
}

.control.has-permalink {
  display: flex;
  max-width: 600px
}

.control.has-permalink a {
  color: #333
}

.control.has-permalink:hover a {
  color: #0073aa
}

.control.has-permalink .is-button-icon {
  color: #999
}

.control.has-permalink .input-wide {
  flex: 1
}

.control.has-permalink .is-button-icon:hover {
  text-decoration: none;
  border: 1px solid silver
}

.select-modify-all {
  max-width: 131px
}

.checklist>li {
  background-position: 0 4px
}

.ug-note ul.checklist>li {
  background-position: 0 2px
}

.checklist-checked {
  background-position: 0 4px !important
}

.ug-note .checklist-checked {
  background-position: 0 2px !important
}

.col-drape-collapsed {
  margin-left: -220px;
  padding-right: 35px
}

.col-drape .draper {
  top: -6px;
  right: 3px
}

.col-drape-collapsed .draper {
  right: -29px
}

.col-cal-drape .draper {
  top: 14px;
  left: 13px
}

.col-cal-drape .draper i {
  border-color: #c9c9c9
}

.col-cal-drape-collapsed .draper {
  left: -1px
}

.newTable {
  border-collapse: collapse;
  border-radius: 0;
  border: 0
}

.newTable>thead>tr>th,
.newTable>tfoot>tr>th:not(.overbudget) {
  font-weight: normal;
  border: 0
}

.newTable>tbody>tr:first-child>td,
.newTable>tbody>tr:first-child>th {
  border-top-color: transparent
}

.newTable th:not(.cell-padless),
.newTable td:not(.cell-padless) {
  padding: 5px 10px
}

.newTable th.tight,
.newTable td.tight {
  padding: 5px
}

.newTable>tfoot>tr>th {
  font-weight: normal;
  background-color: transparent
}

.newTable tbody tr .head {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  color: #333;
  background-color: #f5f5f5;
  font-weight: 500
}

.newTable tbody tr .head strong {
  font-weight: 500
}

.newTable tbody tr .foot {
  border-top: 2px solid #bbb;
  color: #333;
  border-bottom: 0
}

.newTable>tfoot {
  border-top: 2px solid #bbb
}

.newTable>tfoot tr th strong {
  font-weight: 500
}

.newTable>tbody>tr>td,
.newTable>thead>tr>th {
  border-right: 0;
  border-top: 0
}

.tabbedTable>thead tr:first-child th:first-child,
.newTable thead tr:first-child th:last-child,
.newTable>thead tr:first-child th:first-child,
.newTable tfoot tr:last-child th:last-child,
.newTable tfoot tr:last-child th:first-child,
table.zebra tr:first-child th:last-child,
table.zebra tr:first-child td:last-child,
table.zebra tr:first-child th:first-child,
table.zebra tr:first-child td:first-child,
table.zebra tr:last-child th:last-child,
table.zebra tr:last-child td:last-child,
table.zebra tr:last-child th:first-child,
table.zebra tr:last-child td:first-child {
  border-radius: 0
}

.newTable tr:hover {
  background-color: transparent
}

.newTable tr.even,
.newTable tr.striped:nth-child(even) {
  background-color: #f9f9f9
}

.newTable>tbody>tr.even>td,
.newTable>tbody>tr.striped:nth-child(even)>td {
  border-right: 0
}

.newTable tr.subsequent-row td {
  border-top-width: 0
}

.newTable tr.subsequent-row-task td {
  border-top-width: 0;
  padding-left: 10px
}

.newTable tr.report-heading th {
  padding-top: 1em
}

.newTable tr.report-subtotals td {
  font-style: italic;
  padding-bottom: 2em
}

.newTable tr.report-totals th {
  padding-bottom: 1em;
  color: #333;
  font-weight: 500
}

.newTable tr.i-need-space td,
.newTable tr.i-need-space th {
  padding-bottom: 3em
}

.mHeaderCell {
  background-color: #ddd;
  color: #7a7a7a
}

.newTable tr.public td,
.public-cell {
  border-right-color: transparent
}

.newTable tr.today th {
  background-color: #dd7;
  border-right-color: transparent
}

.newTable tr.subtotal th {
  background-color: transparent;
  border-right-color: transparent
}

.newTable td.active {
  background-color: transparent !important
}

.newTable .clickable {
  cursor: pointer
}

.newTable>tbody>tr:first-child>th:first-child {
  border-left: 0
}

.newTable>tbody>tr:first-child>th:last-child {
  border-right: 0
}

.newTable>thead {
  border-bottom: 1px solid #ccc
}

.newTable>thead>tr,
.newTable>thead>tr:hover {
  background-color: #e3e3e3
}

.newTable>thead>tr>th>a[onclick*=sort] {
  color: #666
}

.newTable>tbody>tr:hover,
.newTable tr.striped:nth-child(even):hover {
  background-color: transparent
}

.roundTop,
.roundBottom,
.roundTopLeft,
.roundTopRight,
.roundBottomLeft,
.roundBottomRight {
  border-radius: 0
}

.sortASC,
.sortASC_narrow,
.sortDESC,
.sortDESC_narrow {
  background-image: none;
  -webkit-filter: none;
  filter: none;
  white-space: nowrap
}

.sortASC a:not(.tooltip):after,
.sortASC_narrow a:not(.tooltip):after {
  content: ' \f106';
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: bold;
  color: #8e8e8e
}

.sortDESC a:not(.tooltip):after,
.sortDESC_narrow a:not(.tooltip):after {
  content: ' \f107';
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: bold;
  color: #8e8e8e
}

div.saved_reports h2,
div.shared_reports h2 {
  border: 0;
  font-size: 100%
}

table.zebra {
  border-collapse: collapse;
  border: 0
}

.inline-edit>td,
.inline-edit>tbody>tr>td {
  height: 38px;
  vertical-align: middle
}

.inline-edit>td>input[type=text],
.inline-edit>td>select {
  padding-top: 2px;
  padding-bottom: 2px
}

table.fields tr th,
table.fields tr td {
  padding: 0
}

.simpleView {
  width: 500px
}

.simpleView th,
.simpleView td {
  padding: 0 0 1px 0
}

table.fields th,
table.fields td,
.simpleView th,
.simpleView td {
  vertical-align: top
}

table.fields th,
table.fields td:not(.formatted) {
  line-height: 26px
}

table.fields th {
  width: 10em;
  color: #7a7a7a;
  font-weight: normal
}

.simpleView th {
  color: #7a7a7a;
  font-weight: normal
}

.simpleView th>strong:first-child,
.simpleView td>strong:first-child {
  font-weight: normal;
  color: #777
}

table.fields td input:not([type='checkbox']):not([type='radio']),
table.fields td select,
table.fields td textarea {
  margin-bottom: 5px
}

table.zebra>tbody>tr>td {
  background-color: transparent
}

.projectItemChunk>thead>tr>td:first-child,
.projectItemChunk>thead>tr>th:first-child,
.projectItemChunk>tbody>tr>td:first-child,
.projectItemChunk>tbody>tr>th:first-child,
.projectItemChunk>tfoot>tr>td:first-child,
.projectItemChunk>tfoot>tr>th:first-child {
  padding-left: 10px
}

.projectItemChunk>thead>tr>td:last-child,
.projectItemChunk>thead>tr>th:last-child,
.projectItemChunk>tbody>tr>td:last-child,
.projectItemChunk>tbody>tr>th:last-child,
.projectItemChunk>tfoot>tr>td:last-child,
.projectItemChunk>tfoot>tr>th:last-child {
  padding-right: 10px
}

div#supportFilter,
div#supportFilterSub,
div#supportFilterButton {
  background-color: transparent;
  padding: 0;
  margin-top: 1em
}

.supportFilterBlock {
  padding-top: 0;
  padding-left: 0;
  margin-top: 32px;
  background-color: transparent
}

.supportVideoBlock {
  margin-top: 7px
}

.supportTopper {
  margin-top: 41px
}

.supportTopper p:first-child {
  margin-top: 2px;
  padding-right: 25px
}

.supportTopper p strong {
  color: #666
}

ul.supportLinksList li.hr {
  margin: 2px 0
}

.filter-sidebar .filter-list {
  padding-left: 22px
}

.filter-trigger ul {
  padding-left: 25px
}

.filter-trigger ul li {
  margin-bottom: 3px
}

.filter-save {
  margin: 10px
}

.report-save-item div {
  margin: 0
}

.thTimeBorderBottom,
.thTimeBorderTop {
  border-color: #ccc
}

.viewsimpleProjectBar {
  height: auto;
  padding: initial;
  color: inherit;
  background-color: transparent
}

.viewsimpleProjectBar:after {
  content: '';
  display: block;
  height: 1px;
  margin: 1em 0;
  background-color: #ccc
}

.viewsimpleTaskBar div {
  padding-top: .7em;
  padding-bottom: .6em;
  border-bottom: 1px solid #ccc
}

.frame {
  border-radius: 3px
}

.frame .title {
  background: #e3e3e3;
  color: #777;
  padding: 7px 10px 4px 10px;
  font-weight: normal;
  border-radius: 0
}

.frame .title-simple {
  color: #777;
  padding: 7px 10px 4px 10px;
  margin-bottom: 10px;
  font-weight: bold
}

.frame .content {
  background: #fff;
  border: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px
}

.frame .content>p:first-child {
  margin-top: 0
}

.menu {
  border: 0;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
}

.menu a {
  cursor: pointer
}

.menu a:hover {
  background: #e3e3e3
}

.menu li.separator {
  border-bottom: 1px solid #ddd
}

div#videoRight,
div#videoLeft p,
div#tip_body ul li {
  font-size: 15px
}

.task-span {
  font-size: 12px
}

.cal .note>div {
  font-size: 12px;
  padding: 5px 5px
}

.cal .note .arrow {
  margin: 0 11px 0 0
}

.cal>.head .day {
  border: 0;
  color: #7a7a7a
}

.cal>.head .day:first-child,
.cal>.head .day:last-child,
.cal .week:last-child .date:first-child,
.cal .week:last-child .date:last-child {
  border-radius: 0
}

.cal .date {
  border-right: 1px solid #e8e8e8
}

.cal .dates .date:first-child {
  border-left: 0
}

.cal .dates .date:last-child {
  border-right: 0
}

.cal .date-today {
  border: 2px solid hsla(180, 9%, 33%, 0.54) !important
}

.cal .project .task .open,
.cal .project .task .due {
  background: 0;
  padding-right: 0
}

.cal .milestone,
.cal .project {
  border-radius: 3px
}

.cal .project .task .bar {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}

.cal .project .task .bar-body {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px
}

.cal .notes .note>div {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px
}

.dashboardBadge {
  display: block
}

#minical table {
  border: 0
}

#minical thead tr:last-child th {
  border-top: 0
}

#minical td,
#minical th {
  border: 0
}

#minical td.date-outside {
  background-color: #fff !important
}

#weekgraph .wg-wrapper h2 {
  padding: 5px 10px;
  background-color: #e3e3e3;
  border-bottom: 0;
  font-weight: normal
}

#weekgraph .wg-wrapper {
  background-color: transparent
}

#dashboard td.dashboardSupportCell #supportFilter {
  padding-top: 5px;
  padding-left: 0
}

#dashboard .dashboardBadge .badge>div {
  padding-top: 6px
}

#dashboard .dashboardBadge .userThumb {
  margin-top: 6px;
  margin-right: 10px
}

#cdpicker {
  border: 0
}

#cdpicker .mo {
  width: 80px
}

#cdpicker .yr {
  width: auto
}

li.aggregateGroup a.aglink i {
  top: 11px
}

li.aggregateGroup a.aglink {
  background-color: #e3e3e3
}

img.userThumbPLB {
  padding: 0;
  border-radius: 20px;
  margin: 1px 3px 0 0 !important
}

img.userThumb {
  margin: 4px 12px 4px 4px;
  padding: 0;
  border-radius: 54px
}

img.userThumbFL {
  float: left;
  padding: 0;
  margin: 0 8px 8px 2px;
  border-radius: 20px
}

.newTable .subTableCell {
  padding: inherit;
  background: transparent
}

.newTable .subTableCell {
  border-bottom: 1px solid #dbdbdb
}

.subtable {
  border-collapse: collapse
}

.subTable>thead>tr:not(.milestoneviewtask):hover {
  background-color: #ffd
}

.subTable thead tr th {
  background-color: transparent;
  font-weight: normal
}

.subTable thead tr th.sortDESC,
.subTable thead tr th.sortASC {
  background-color: transparent
}

.newTable>thead>tr>th {
  border: 0
}

.newTable>tbody>tr>th,
.newTable>tbody>tr:not(.row-document)>td:not(.priority-cell),
.subTable>tbody>tr>td {
  border-top: 0;
  border-bottom: 1px solid #dbdbdb
}

.newTable>tbody>tr.row-document-main>td {
  border-top: 1px solid #dbdbdb
}

.newTable>tbody>tr>th.no-bottom-border,
.newTable>tbody>tr>td.no-bottom-border,
.subTable>tbody>tr>td.no-bottom-border {
  border-bottom: 0
}

.row-document-comments:not(:empty) {
  padding-bottom: 2em
}

.row-document-comments:not(:empty):before {
  content: 'Notes:';
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1em;
  display: block;
  color: #7a7a7a
}

.newTable tr.report-subtotals td {
  font-weight: 500
}

.newTable tr.report-subtotals td.act-subtotal {
  border-top: 2px solid #bbb;
  border-top-width: 2px
}

.projectNavSupportList {
  margin-top: 22px
}

.projectNavSupportList li {
  margin: 2px 0
}

ul.supportLinksList li.hr {
  margin: 6px 0
}

.projectlistTeam td {
  padding-top: 23px
}

.thvRequired {
  background-image: none;
  position: relative
}

.thvRequired:before {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  height: 17px;
  border-right: 3px solid #c93;
  margin-right: 6px
}

.thvRequiredLeft:before {
  left: 0;
  right: auto
}

#projectSupportCell .project-discount-history p {
  padding-left: 0
}

.supportProjectChange select {
  margin-top: 0
}

.supportProjectChange>form>div {
  margin: 5px 0
}

table.zebra td.graphdark {
  background-color: transparent
}

.trial-activator {
  background-color: transparent
}

.planShadow {
  -webkit-box-shadow: none;
  box-shadow: none
}

.planBoxes {
  display: table
}

.planBoxes>div {
  display: table-cell
}

.planBox {
  vertical-align: top;
  float: none;
  height: auto;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  background-image: none;
  margin-bottom: 0
}

.planBox h3 {
  font-weight: normal;
  border-radius: 0;
  background: transparent !important;
  color: #333
}

.planBox h4 {
  font-weight: normal
}

.planBox p {
  font-size: 100%
}

.planArrowContainer {
  position: relative
}

#planArrow {
  position: absolute;
  top: 50%;
  left: calc(50% - 45px);
  height: auto;
  line-height: 100%;
  color: #0073aa
}

#planArrow span {
  display: none
}

#planArrow:before {
  content: '\f061';
  font-size: 60px
}

#planAnnounce,
#planCoupon {
  font-size: 100%
}

.planBoxList {
  font-size: 100%;
  margin-top: 0;
  min-height: 0
}

.planBoxBody {
  background-color: #e3e3e3;
  min-height: 15em
}

#plans {
  width: 100%
}

.planListBullet {
  color: #fff
}

.planListBullet .fa:before {
  color: #666
}

#plan_grid input[type=submit] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.planBox.unlimited h3 {
  background-color: #fff
}

.unlimited .planBoxBody {
  background-color: #e6eeff
}

.unlimited .planBoxBody p {
  margin-top: 0;
  padding-top: 14px
}

.bbb-container {
  background: transparent;
  padding-top: 0
}

.bbb-container strong {
  font-weight: normal
}

.sprites {
  background: 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.28571429em;
  text-align: center;
  height: auto;
  margin: 0 7px 0 0;
  padding: 0;
  color: #999
}

.iconNoMargin,
.cellIcon .sprites {
  margin-right: 0
}

a>.fa:before,
a>.fa:after {
  color: #999
}

a:hover>.sprites:before,
a:hover>.sprites:after,
a:hover>.fa:before,
a:hover>.fa:after {
  color: #0073aa
}

a.iconified {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  text-decoration: none
}

a.iconified .fa {
  width: 18px;
  margin-right: .3em
}

a.iconified:hover .fa,
a.iconified:hover .fa:before {
  text-decoration: none
}

a.iconified:hover span {
  text-decoration: underline
}

.iconOver:hover img,
.iconOver:hover .icon17 {
  background-color: transparent
}

.sprites:hover {
  text-decoration: none
}

.sprites:hover::before {
  text-decoration: none
}

.spritesHover:hover {
  background-color: transparent
}

.iconCopy:before {
  content: '\f24d'
}

.iconClose:before {
  content: '\f046'
}

.iconClearFilter {
  vertical-align: baseline
}

.iconClearFilter:before {
  content: '\f00d'
}

.iconDelete:before,
.iconDeleteDisabled:before {
  content: '\f014'
}

.iconDelete:hover {
  color: #c33
}

.iconDisabled:before,
.iconDeleteDisabled:before {
  opacity: .9
}

.iconShare:before {
  content: '\f064'
}

.iconRecent {
  font-size: 13px;
  margin-top: -2px
}

.iconRecent:before {
  content: '\f06e'
}

.iconRecent {
  margin-left: 1px
}

.iconNotify:before {
  content: '\f003'
}

.iconNotify {
  margin-left: 1px
}

.iconsMulti {
  position: relative;
  margin-top: 4px
}

.iconsMulti:before {
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  content: '\f24d'
}

.iconsMulti:after {
  position: absolute;
  left: 6px;
  top: 1px;
  content: '\f00c';
  font-size: 8px
}

.iconsMulti:hover::before,
.iconsMulti:hover::after {
  color: #0073aa
}

.iconsTooltip {
  vertical-align: initial
}

.iconsTooltip:before,
.iconsDockTooltip:before {
  content: '\f0eb';
  font-size: 17px
}

.iconsDockTooltip:hover {
  background-color: transparent;
  border-radius: 0
}

.iconsQuestion {
  width: auto;
  margin-right: 6px
}

.iconsQuestion:before {
  content: '\f059'
}

.iconInactive:before {
  content: '\f023';
  font-size: 15px
}

.iconActive:before {
  content: '\f13e';
  font-size: 15px
}

.iconSevsquare {
  pointer-events: none;
  margin-right: 0
}

.iconSevsquare:before {
  content: '\f0c8'
}

.iconsAddTimer {
  position: relative;
  margin-right: 0;
  color: #555
}

.iconsAddTimer:hover {
  background-color: transparent;
  border-radius: 0
}

.iconsAddTimer:before {
  content: '\f017'
}

.iconsAddTimer:after {
  content: '+';
  color: #fff;
  position: absolute;
  background: #000;
  border-radius: 50%;
  font-weight: bold;
  left: 10px;
  top: 11px;
  width: 13px;
  height: 13px;
  line-height: calc(1rem / 2);
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 2px
}

a .sprites.iconsAddTimer:hover::after,
a:hover>.sprites:after {
  background-color: #0073aa;
  color: #fff
}

.iconClipboard:before {
  content: '\f0ea'
}

.iconTick {
  color: #bbb
}

.iconTick,
.iconTicking {
  pointer-events: none;
  cursor: default
}

.iconTick:before {
  content: '\f017'
}

.iconNote:before,
.iconsTimerNote:before {
  content: '\f24a'
}

.iconsScratchpadUsed {
  width: auto
}

.iconsScratchpadUsed .fa:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #0073aa;
  width: 6px;
  height: 6px;
  right: 2px;
  top: 0
}

.iconSortUp:before,
.iconExpClosed:before {
  content: '\f077'
}

.iconSortDown:before,
.iconExpOpen:before {
  content: '\f078'
}

.iconArrowRight:before,
.iconArrowLeft:before {
  content: '\f054'
}

.iconArrowDown:before {
  content: '\f078'
}

.iconExpOpen:before,
.iconExpClosed:before {
  font-size: 12px
}

.iconEdit:before {
  content: '\f040'
}

.iconUpload:before {
  content: '\f016';
  font-size: 16px
}

.trayHeader:hover .iconExpClosed,
.trayHeader:hover .iconExpOpen {
  color: #999
}

.iconsEmail,
.iconHopper {
  width: 18px
}

.iconsEmail:before,
.iconHopper:before {
  content: '\f003'
}

.iconOverdue:before,
.iconDuetoday:before {
  content: '\f06a';
  color: #a11
}

.iconDuetoday:before {
  color: #d90
}

.iconsExportpage {
  position: relative
}

.iconsExportpage:before {
  content: '\f016'
}

.iconsExportpage:after {
  content: 'X';
  color: #fff;
  position: absolute;
  font-size: 10px;
  top: 7px;
  left: 9px;
  font-family: serif;
  background: #999;
  border-radius: 4px;
  padding: 1px 2px
}

a:hover>.sprites.iconsExportpage:after {
  background: #0073aa;
  color: #fff
}

.iconsPDF:before {
  content: '\f1c1'
}

.iconsPrintpage:before {
  content: '\f02f'
}

.iconSecure:before {
  content: '\f084'
}

.iconPlus {
  margin-right: .25em
}

.iconPlus:before {
  content: '\f196'
}

.iconMinus:before {
  content: '\f147'
}

.iconsIIF {
  position: relative
}

.iconsIIF:before {
  content: '\f016'
}

.iconsIIF:after {
  content: 'QB';
  color: #fff;
  position: absolute;
  font-size: 10px;
  top: 7px;
  left: 9px;
  font-family: serif;
  background: #999;
  border-radius: 4px;
  padding: 1px
}

a:hover>.sprites.iconsIIF:after {
  background: #0073aa;
  color: #fff
}

.iconTaskprev {
  margin-top: 2px;
  margin-right: 0;
  vertical-align: baseline
}

.iconTaskprev:before {
  margin-top: 2px;
  content: '\f060'
}

.iconTasknext:before {
  content: '\f061'
}

.iconsExportImage:before {
  content: '\f1c5'
}

.iconSave:hover::after {
  background-color: #5e8c2e;
  color: #fff !important
}

.iconCancel:hover::after {
  background-color: #777;
  color: #fff !important
}

.iconSave:after,
.iconCancel:after {
  font-family: Arial;
  font-size: 11px;
  color: #fff;
  background: #693;
  padding: 3px;
  border-radius: 3px
}

.iconSave:after {
  content: 'Save'
}

.iconCancel:after {
  content: 'Cancel';
  background: #bbb
}

.icon17.iconSave,
.icon17.iconCancel {
  width: auto;
  margin-right: 5px;
  background: silver
}

.iconUpload:before {
  content: '\f0ee'
}

.iconDashboard:before {
  content: '\f0e4';
  font-size: 17px
}

.iconTasks:before {
  content: '\f0ae'
}

.iconCalc {
  margin-right: 0;
  vertical-align: baseline
}

.iconCalc:before {
  content: '\f1ec'
}

.rte-toggle span {
  padding: 0;
  margin-right: 0
}

.rte-toggle span:before {
  content: '\f121'
}

.iconCheck:before,
.iconComplete:before {
  content: '\f00c'
}

.iconIncomplete:before {
  content: '\f05e'
}

.iconAssociate {
  position: relative;
  margin-left: -4px
}

.iconAssociate:before,
.iconTack:before {
  content: '\f08d'
}

.iconLink:before {
  content: '\f0c1'
}

.iconAssociate:after {
  content: '\f067';
  color: #fff !important;
  position: absolute;
  left: 11px;
  top: 6px;
  font-size: 8px;
  background: #999;
  padding: 1px;
  border-radius: 2px
}

.iconEyedropper:before {
  content: '\f1fb'
}

.iconsActivate:before {
  content: '\f0e7'
}

.iconStart {
  color: #bbb
}

.iconStart:before {
  content: '\f01d'
}

.iconStop {
  color: #693
}

.sprites.iconStop:hover::before {
  color: #582
}

.iconStop:before {
  content: '\f28c'
}

.iconClear {
  color: #bbb
}

.iconClear:before {
  content: '\f05c'
}

.iconHistory:before {
  content: '\f1da'
}

.iconVideo:before {
  content: '\f03d'
}

.iconVcardInline:before {
  content: '\f2c3'
}

.iconsXero {
  background: url(/i/layout/sprite_15.gif) no-repeat;
  background-position: -110px -687px;
  width: 24px;
  height: 24px
}

.iconsQbo {
  background: url(/i/layout/sprite_15.gif) no-repeat;
  background-position: -110px -639px;
  width: 24px;
  height: 24px
}

.iconsFb {
  background: url(/i/layout/sprite_15.gif) no-repeat;
  background-position: -110px -600px;
  width: 24px;
  height: 24px
}

.iconsRSS:before {
  content: '\f09e'
}

.iconIcal:before {
  content: '\f073'
}

.iconNoteArrow:before {
  content: '\f0da';
  color: #333
}

.iconNoteLock:before {
  content: '\f023';
  color: #333
}

.iconTaskstart {
  float: right;
  margin: 2px 4px 0 0
}

.iconTaskstart:before {
  content: '\f061'
}

.iconTaskdue {
  float: right;
  margin: 2px 4px 0 0
}

.iconTaskdue:before {
  content: '\f060'
}

.iconCSV {
  position: relative;
  margin-right: 1rem
}

.iconCSV:before {
  content: '\f016'
}

.iconCSV:after {
  content: 'CSV';
  color: #fff !important;
  position: absolute;
  font-size: 10px;
  top: 6px;
  left: 9px;
  font-family: serif;
  background: #999;
  border-radius: 4px;
  padding: 1px 2px
}

.iconXML {
  position: relative;
  margin-right: 1rem
}

.iconXML:before {
  content: '\f016'
}

.iconXML:after {
  content: 'XML';
  color: #fff !important;
  position: absolute;
  font-size: 10px;
  top: 6px;
  left: 9px;
  font-family: serif;
  background: #999;
  border-radius: 4px;
  padding: 1px 2px
}

.iconCompress:before {
  content: '\f066'
}

.iconExpand:before {
  content: '\f065'
}

.iconSearchPlus:before {
  content: '\f00e'
}

.iconSearchMinus:before {
  content: '\f010'
}

.iconFirst {
  width: auto;
  margin-right: .5em
}

.utilityIcon {
  margin-left: 3px
}

.utilityIconRounders {
  margin-left: 10px
}

.utilityIcon .sprites {
  font-size: 16px;
  width: 1.5em;
  margin-right: 0
}

.control-week .iconsCalendar:before {
  content: '\f073'
}

.tbutton {
  background-image: none;
  font-weight: normal;
  line-height: 20px;
  border-radius: 3px
}

.tbutton:focus {
  outline: 0
}

.has-timers:hover .iconStart,
.has-timers:hover .iconStop {
  color: #693
}

.has-timers:hover .iconStart:hover {
  color: #5e8c2e
}

.has-timers:hover .iconClear {
  color: #888
}

.has-timers:hover .iconClear:hover {
  color: #666
}

.has-timers:hover .tbutton-apply {
  background-color: #693 !important
}

.tbutton-apply {
  color: #fff;
  background-color: #c9c9c9;
  font-size: 11px;
  margin-top: 1px
}

.tbutton-apply:hover,
.has-timers:hover .tbutton-apply:hover {
  background-color: #5e8c2e !important
}

.has-timers:hover a:not(.outgoing):not(.tooltip) {
  color: #0073aa
}

.iconTick,
.iconTicking,
.iconsAddTimer,
.iconStart,
.iconStop,
.iconClear {
  font-size: 20px;
  width: auto;
  cursor: pointer;
  margin-right: 0
}

.iconTick {
  width: 18px
    /*!important*/
}

#footer.is-exec {
  border-top: 1px solid #ccc
}

#dockProfile {
  display: none
}

@media(min-width:768px) {
  #dock {
    border-top: 3px solid #777;
    height: 83px;
    color: #666;
    background: #fff
  }

  #dockTasks,
  #dockGeneral {
    width: 40%
  }

  #dockTasks:after,
  #dockGeneral:after {
    content: '';
    height: 100%;
    width: 1px;
    border-right: 1px solid #ccc;
    position: absolute;
    right: 0;
    top: 0
  }

  #dockSearch {
    padding-top: 15px
  }

  #dockSearch a {
    font-size: 11px;
    padding-left: 8px
  }

  #dockSearch .submit {
    height: 23px;
    line-height: 23px;
    margin-top: 1px;
    display: inline-block
  }

  .dockRow {
    width: 100%;
    border: 0;
    background: transparent
  }

  .dockCell {
    border: 0
  }

  .trayHeader {
    line-height: 39px;
    padding-left: 5px
  }

  .trayHeader .sprites.icon17 {
    margin-right: 4px
  }

  .trayHeader .sprites.floatRight {
    line-height: 39px
  }

  .trayHeader strong {
    font-weight: normal;
    color: #444
  }

  .trayHeader .counter {
    background-color: #ddd
  }

  .dock-no-timers {
    padding-left: 27px;
    line-height: 33px
  }

  .dockRow a {
    font-weight: normal;
    color: #666
  }

  .ltimer {
    max-width: 115px
  }

  .rtimer {
    height: 33px;
    margin-bottom: 3px
  }

  .rtimer .timer-item {
    padding-top: 6px
  }

  .rtimer .rtimer-metatext {
    line-height: 22px
  }

  .rtimer .rtimer-metatext a {
    font-weight: normal
  }

  .rtimer .rtimer-time {
    width: 60px;
    text-align: right
  }

  .rtimer .timer-item:hover a {
    color: #0073aa
  }

  .rtimer .timer-item:first-child {
    padding-left: 5px
  }

  .rtimer .timer-note {
    border: 0;
    line-height: 22px;
    color: #666;
    font-size: 14px
  }

  .rtimer .timer-note:hover {
    background: rgba(0, 0, 0, 0.05);
    outline: 0
  }

  .rtimer .timer-note:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
  }

  .expanded {
    position: absolute;
    background-color: #fff;
    border-top: 5px solid #666;
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .tray-task.expanded:after,
  .tray-gen.expanded:before,
  .tray-gen.expanded:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%
  }

  .tray-task.expanded:after {
    top: 0;
    right: 0;
    border-right: 1px solid #666
  }

  .tray-gen.expanded:before {
    top: 0;
    left: 0;
    border-left: 1px solid #666
  }

  .tray-gen.expanded:after {
    top: 0;
    right: 0;
    border-right: 1px solid #666
  }
}

.item-details-container {
  background-color: transparent;
  border-radius: 0
}

.item-details-header {
  border-radius: 0
}

.task-details-header {
  padding-top: 7px;
  padding-bottom: 4px
}

.task-utility-divider {
  margin-top: 13px;
  padding-top: 13px;
  border-top: 1px solid #ccc
}

table .noteLeft {
  padding-top: 11px
}

table .noteRight {
  padding-bottom: 31px
}

.noteLeft strong {
  font-weight: normal
}

#shortcutsInsert li {
  line-height: 15px
}

.files ol li img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  margin-right: 5px
}

.files ol li:first-child a {
  font-weight: normal
}

.files-icon-desc {
  font-size: 1em;
  padding-left: 24px;
  color: #666;
  display: block
}

.files ol li {
  text-indent: 0;
  padding-left: 0
}

ul.messageSuccess:before {
  content: none
}

ul.messageWarning:before {
  content: none
}

ul.messageError:before {
  content: none
}

ul.messageInfo:before {
  content: none
}

ul.messageSuccess,
ul.messageError,
ul.messageWarning,
ul.messageInfo,
ul.messageAlert,
ul.messageDanger,
ul.messageAlertItem {
  padding: 1em 1em 1em 1.5em;
  margin-bottom: 1em;
  border-radius: 3px;
  border: 0
}

#create-permissions table {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff
}

#createPersonPermsMsg {
  border-radius: 0
}

.login-perm-label {
  line-height: 125% !important
}

ul.messageSuccess,
.windowMsgSuccess {
  background: #7eac4e;
  color: #fff
}

.inlineSuccess {
  color: #82ca38
}

ul.messageSuccess a {
  color: #fff;
  text-decoration: underline
}

ul.messageError a {
  color: #333;
  text-decoration: underline
}

ul.messageSuccess a:hover,
ul.messageError a:hover {
  text-decoration: none
}

ul.messageWarning,
ul.messageInfo,
ul.messageAlert,
.messageInfo,
.messageAlert,
#lockAlert {
  background: #ffdd57;
  color: #333;
  line-height: 1.3em;
  padding: 1em 1em 1em 1.5em
}

.messageInfo>strong:first-child,
.messageAlert>strong:first-child {
  font-weight: normal
}

ul.messageError,
.windowMsgError {
  background: #ed6c63;
  color: #fff
}

.windowMsgError a {
  color: #fff;
  text-decoration: underline
}

.windowMsgError a:hover {
  text-decoration: none
}

ul.messageDanger {
  background: #ed6c63
}

.messageAlertItem {
  background: transparent
}

.message-heading {
  font-size: 14px;
  font-weight: normal
}

.messageIcon {
  padding-left: 10px
}

.notification {
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: #7eac4e;
  border: 0;
  color: #fff;
  position: relative;
  border-left: 0
}

div.tooltipText {
  padding: 13px 11px
}

div.tooltipText :first-child {
  padding-top: 0;
  margin-top: 0
}

div.tooltipText :last-child {
  padding-bottom: 0;
  margin-bottom: 0
}

div.tooltipText,
.simpleView {
  background-color: #fff;
  border: 3px solid #ccc
}

.tooltipText {
  -webkit-transition: top .25s, left .25s;
  transition: top .25s, left .25s
}

@-webkit-keyframes pulse {
  from {
    opacity: .25;
    color: #0073aa
  }

  to {
    opacity: 1;
    color: #0073aa
  }
}

@keyframes pulse {
  from {
    opacity: .25;
    color: #0073aa
  }

  to {
    opacity: 1;
    color: #0073aa
  }
}

/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px
}

.pagination input {
  width: 35px;
  text-align: center
}

.pagination .page {
  padding: 0 9px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-right: 3px
}

.pagination .page:hover {
  color: #333;
  border-color: #666;
  text-decoration: none
}

.pagination .page-current {
  background-color: #f3f3f3
}

.pagination .page-current:hover {
  background-color: #dbdbdb;
  border-color: transparent
}

.pagination .page-last {
  border-color: transparent;
  pointer-events: none
}

table.zebra td.profileimage {
  padding-top: 15px
}

.profileImgEdit {
  position: static;
  color: #666;
  background: transparent
}

.profileImgEdit a {
  color: #666
}

#personNotifsTable td td {
  line-height: 22px
}

.formSaveCell:not([class*=unbordered]) {
  border-top: 1px solid #ccc
}

.field.is-save .control {
  text-align: center
}

.field:not(:last-child) {
  margin-bottom: 1em
}

.field.is-save {
  padding-top: 0
}

.scrollup {
  bottom: 10px
}

.scrollup:before {
  width: 15px;
  height: 15px
}

.priming-blankstate {
  width: 795px
}

.scratchpad {
  top: auto
}

.scratchpad .scratchpad-foot {
  padding-bottom: 5px
}
