<div class="mw-90">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title small-header">Card title</h5>
            <p class="card-text small-body">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
            <a href="#" class="card-link small-body">Card link</a>
            <a href="#" class="card-link small-body">Another link</a>
        </div>
    </div>
</div>