<div class="tile is-ancestor" style="height: 95%">
    <div class="tile is-parent is-3 is-vertical sidenav">
        <div class="sidenav">
            <a *ngFor="let card of cards" (click)="onCardClick(card)" class="tile is-child cardspacing">
                <div class="card is-small">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-32x32 is-rounded">
                                    <img src="/assets/images/profile-icon.jpg">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-6">{{card.teamName}}</p>
                                <p class="subtitle is-6">{{card.teamLead}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="tile is-parent is-9">
        <!-- team Members -->
        <div class="tile is-parent is-12 is-vertical team-members">
            <!-- header -->
            <div class="tile is-child is-12">
                <p class="is-size-6 message-header">
                    ITT Platform / {{clickedCard}} Team
                </p>
            </div>
            <!-- members -->
            <div class="tile is-child is-scrollable wrap-content">
                <a *ngFor="let card of cards" (click)="onCardClick(card)">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{card.teamName}}</mat-card-title>
                            <mat-card-subtitle>{{card.teamLead}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </a>
            </div>
        </div>
        <div class="tile is-parent is-12" style="height: 40%">
        </div>
    </div>
</div>