.sidenav {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
    
}

.team-members{
    height: 60%;
}

.is-scrollable{
    overflow-x: hidden;
    overflow-y: auto;
}

.wrap-content{
    flex-wrap: wrap;
}



.cardspacing{
    padding: 0.5px;
}

