<div class="row justify-content-center">
    <div class="col-11 profile">
        <div class="d-flex justify-content-center">
            <profile></profile>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-11 overflow-auto notifications">
       
            <p>
                <notification></notification>
            </p>
            <p>
                <notification></notification>
            </p>
            <p>
                <notification></notification>
            </p>
            <p>
                <notification></notification>
            </p>
        
    </div>
</div>