<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('../../../../assets/images/login_background.jpg'); background-size: cover; background-position: top center;">
    <div class="transbox"></div>
    <div class="container" style="float:left; width: auto;">
      <h2>One Stop Project Management and Billing Application</h2>
    </div>
    <div class="container" style="z-index: 5;float: right;left: 10%;opacity: 1;">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto" style="margin-right:20px !important">
          <form #loginform="ngForm" (ngSubmit)="signin(loginform)" class="form ng-untouched ng-pristine ng-valid"
            style="margin-top:10px;width: 100%; height: auto;">
            <div class="card card-login">
              <div class="card-header text-center" style="margin-bottom: 0px; padding-bottom: 0px;">
                <h6> <img src="../../../../assets/images/logo_new_2.PNG" height="100px" width="190px"
                    style="padding-top: 35px;"> </h6>
              </div>
              <div class="card-body">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                          class="material-icons">account_circle</i></span></div>
                    <input class="form-control" placeholder="1bank id..." name="username" ngModel required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i
                          class="material-icons">lock_outline</i></span></div>
                    <input class="form-control" placeholder="Password..." name="password" type="password" ngModel
                      required>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <br> <br><br> <br>
                <button class="btn btn-danger mat-raised-button" mat-raised-button=""><span
                    class="mat-button-wrapper">Login</span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
            </div>
            <!-- Error login -->
            <div *ngIf="error">
              <!-- Error message banner -->
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong> {{error}} </strong> 
                </div>
            </div>
            <!-- Success login -->
           

            <div *ngIf="success">
              <!-- Success message banner --> 
             
              <div class="alert alert-success alert-dismissible ">
                    <a href="#" class="close" data-dismiss="alert" id="notify-message" aria-label="close">&times;</a>
                    <strong> {{success}} </strong>
              </div> 
            </div> 

               
          </form>
        </div>
      </div>
    </div>
    <div>
      <img src="../../../../assets/images/desktoplogo.png" alt="DBS logo" height="80px" width="160px"
        style="position: absolute; top: 8px; left: 16px; font-size: 18px; z-index: 2;">
    </div>
  </div>
</div>
