.transbox {
    margin: 30px;
    background-color: #dee2e6;
    border: 1px solid black;
    opacity: 0.2;
    width: 100%;
    height: 500px;
    z-index: 1;
    position: relative;
  }
  
  div.container h2 {
    margin: 5%;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 5;
  }

  .form {
    display: inline-block;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.0, 1.0); /* Safari and Chrome */
    -o-transform: scale(1.1, 1.1); /* Opera */
    -moz-transform: scale(1.1, 1.1); /* Firefox */
  }
