/* You can add global styles to this file, and also import other style files */

/* @import "./../node_modules/materialize-css/dist/css/materialize.min.css"; */
/* @import "./../node_modules/bootstrap/dist/css/bootstrap.min.css" */
@import "./../node_modules/bulma/css/bulma.min.css";

html , body{
    background-color: lightgray;
    height: 100%
}